{
  "printWidth": 80,
  "proseWrap": "always",
  "singleQuote": false,
  "overrides": [
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "singleQuote": false,
        "quoteProps": "preserve"
      }
    },
    {
      "files": ["*.py"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}