openapi: 3.0.2
info:
  title: NewsCatcher News API V3
  description: |
    NewsCatcher is a data-as-a-service startup that has one main goal:
    to build the largest database of structured news articles published online.
    In other words, we're like Google for the news part of the web, which you can access as a source of data.

    Some useful links:
    - [How NewsCatcher Works](https://docs.newscatcherapi.com/knowledge-base/how-newscatcher-works)
    - [GitHub for the Python SDK](https://github.com/NewscatcherAPI/newscatcherapi-sdk-python)
    - [Read our V3 Documentation](https://docs.newscatcherapi.com/api-docs/endpoints-1)
  termsOfService: https://newscatcherapi.com/terms-of-service
  contact:
    name: Maksym Sugonyaka
    email: maksym@newscatcherapi.com
  version: 3.2.16
externalDocs:
  description: Find out more about NewsCatcher News API
  url: https://docs.newscatcherapi.com/

servers:
  - url: https://v3-api.newscatcherapi.com
    description: News API v3 production server

security:
  - ApiKeyAuth: []

tags:
  - name: Search
    description: Operations to search for articles.
    externalDocs:
      description: Search for articles by keyword, language, country, source, and more.
      url: https://docs.newscatcherapi.com/api-docs/endpoints-1/search-news
  - name: LatestHeadlines
    description: Operations to retrieve latest headlines.
    externalDocs:
      description: Retrieve the latest headlines since a specified date, with filtering options.
      url: https://docs.newscatcherapi.com/api-docs/endpoints-1/v3-latest-headlines
  - name: Authors
    description: Operations to search by author.
    externalDocs:
      description: Search for articles by author.
      url: https://docs.newscatcherapi.com/api-docs/endpoints-1/v3-authors
  - name: SearchLink
    description: Operations to search by link.
    externalDocs:
      description: Search for articles by ID or link.
      url: https://docs.newscatcherapi.com/api-docs/endpoints-1/v3-search-by-link
  - name: SearchSimilar
    description: Operations to find similar articles.
    externalDocs:
      description: Find articles similar to a given query.
      url: https://docs.newscatcherapi.com/api-docs/endpoints-1/v3-search-similar
  - name: Sources
    description: Operations to retrieve news sources.
    externalDocs:
      description: Retrieve the list of available sources, filtered by language and country.
      url: https://docs.newscatcherapi.com/api-docs/endpoints-1/v3-sources
  - name: Subscription
    description: Operations to get subscription info.
    externalDocs:
      description: Retrieve information about your subscription plan.
      url: https://docs.newscatcherapi.com/api-docs/endpoints-1/v3-subscription

paths:
  /api/search:
    get:
      tags:
        - Search
      summary: Search articles
      description: Searches for articles based on specified criteria such as keyword, language, country, source, and more.
      operationId: Search_get
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/Lang'
        - $ref: '#/components/parameters/NotLang'
        - $ref: '#/components/parameters/PublishedDatePrecision'
        - $ref: '#/components/parameters/SearchIn'
        - $ref: '#/components/parameters/Countries'
        - $ref: '#/components/parameters/NotCountries'
        - $ref: '#/components/parameters/Sources'
        - $ref: '#/components/parameters/NotSources'
        - $ref: '#/components/parameters/RankedOnly'
        - $ref: '#/components/parameters/FromRank'
        - $ref: '#/components/parameters/ToRank'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/ByParseDate'
        - $ref: '#/components/parameters/IsHeadline'
        - $ref: '#/components/parameters/AllLinks'
        - $ref: '#/components/parameters/NotAuthorName'
        - $ref: '#/components/parameters/AllDomainLinks'
        - $ref: '#/components/parameters/WordCountMin'
        - $ref: '#/components/parameters/WordCountMax'
        - $ref: '#/components/parameters/ClusteringVariable'
        - $ref: '#/components/parameters/ClusteringEnabled'
        - $ref: '#/components/parameters/ClusteringThreshold'
        - $ref: '#/components/parameters/IncludeNlpData'
        - $ref: '#/components/parameters/HasNlp'
        - $ref: '#/components/parameters/Theme'
        - $ref: '#/components/parameters/NotTheme'
        - $ref: '#/components/parameters/OrgEntityName'
        - $ref: '#/components/parameters/PerEntityName'
        - $ref: '#/components/parameters/LocEntityName'
        - $ref: '#/components/parameters/MiscEntityName'
        - $ref: '#/components/parameters/TitleSentimentMin'
        - $ref: '#/components/parameters/TitleSentimentMax'
        - $ref: '#/components/parameters/ContentSentimentMin'
        - $ref: '#/components/parameters/ContentSentimentMax'
        - $ref: '#/components/parameters/IptcTags'
        - $ref: '#/components/parameters/NotIptcTags'
        - $ref: '#/components/parameters/ExcludeDuplicates'
      responses:
        '200':
          $ref: '#/components/responses/SearchSuccessfulResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
    post:
      tags:
        - Search
      summary: Search articles
      description: Searches for articles based on specified criteria such as keyword, language, country, source, and more.
      operationId: Search_post
      requestBody:
        $ref: '#/components/requestBodies/SearchRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/SearchSuccessfulResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'

  /api/latest_headlines:
    get:
      tags:
        - LatestHeadlines
      summary: Retrieve latest headlines
      description: Retrieves the latest headlines since a specified time. You can filter results by language, country, source, and more.
      operationId: LatestHeadlines_get
      parameters:
        - $ref: '#/components/parameters/RankedOnly'
        - $ref: '#/components/parameters/When'
        - $ref: '#/components/parameters/Lang'
        - $ref: '#/components/parameters/Countries'
        - $ref: '#/components/parameters/NotCountries'
        - $ref: '#/components/parameters/Theme'
        - $ref: '#/components/parameters/Sources'
        - $ref: '#/components/parameters/NotSources'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/ByParseDate'
        - $ref: '#/components/parameters/IsHeadline'
        - $ref: '#/components/parameters/IsOpinion'
        - $ref: '#/components/parameters/PredefinedSources'
        - $ref: '#/components/parameters/IsPaidContent'
        - $ref: '#/components/parameters/ParentUrl'
        - $ref: '#/components/parameters/WordCountMin'
        - $ref: '#/components/parameters/WordCountMax'
        - $ref: '#/components/parameters/IncludeNlpData'
        - $ref: '#/components/parameters/HasNlp'
        - $ref: '#/components/parameters/TitleSentimentMin'
        - $ref: '#/components/parameters/TitleSentimentMax'
        - $ref: '#/components/parameters/ContentSentimentMin'
        - $ref: '#/components/parameters/ContentSentimentMax'
        - $ref: '#/components/parameters/ClusteringEnabled'
        - $ref: '#/components/parameters/ClusteringThreshold'
        - $ref: '#/components/parameters/ClusteringVariable'
        - $ref: '#/components/parameters/OrgEntityName'
        - $ref: '#/components/parameters/PerEntityName'
        - $ref: '#/components/parameters/LocEntityName'
        - $ref: '#/components/parameters/MiscEntityName'
        - $ref: '#/components/parameters/IptcTags'
        - $ref: '#/components/parameters/NotIptcTags'
      responses:
        '200':
          $ref: '#/components/responses/LatestHeadlinesSuccessfulResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'

    post:
      tags:
        - LatestHeadlines
      summary: Retrieve latest headlines
      description: Retrieves the latest headlines since a specified time. You can filter results by language, country, source, and more.
      operationId: LatestHeadlines_post
      requestBody:
        $ref: '#/components/requestBodies/LatestHeadlinesRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/LatestHeadlinesSuccessfulResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'

  /api/authors:
    get:
      tags:
        - Authors
      summary: Search articles by author
      description: Searches for articles written by a specified author. You can filter results by language, country, source, and more.
      operationId: Authors_get
      parameters:
        - $ref: '#/components/parameters/AuthorName'
        - $ref: '#/components/parameters/NotAuthorName'
        - $ref: '#/components/parameters/Lang'
        - $ref: '#/components/parameters/NotLang'
        - $ref: '#/components/parameters/PublishedDatePrecision'
        - $ref: '#/components/parameters/Countries'
        - $ref: '#/components/parameters/NotCountries'
        - $ref: '#/components/parameters/Sources'
        - $ref: '#/components/parameters/NotSources'
        - $ref: '#/components/parameters/RankedOnly'
        - $ref: '#/components/parameters/FromRank'
        - $ref: '#/components/parameters/ToRank'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/ByParseDate'
        - $ref: '#/components/parameters/IsHeadline'
        - $ref: '#/components/parameters/IsOpinion'
        - $ref: '#/components/parameters/ParentUrl'
        - $ref: '#/components/parameters/AllLinks'
        - $ref: '#/components/parameters/AllDomainLinks'
        - $ref: '#/components/parameters/WordCountMin'
        - $ref: '#/components/parameters/WordCountMax'
        - $ref: '#/components/parameters/IncludeNlpData'
        - $ref: '#/components/parameters/HasNlp'
        - $ref: '#/components/parameters/Theme'
        - $ref: '#/components/parameters/OrgEntityName'
        - $ref: '#/components/parameters/PerEntityName'
        - $ref: '#/components/parameters/LocEntityName'
        - $ref: '#/components/parameters/MiscEntityName'
        - $ref: '#/components/parameters/TitleSentimentMin'
        - $ref: '#/components/parameters/TitleSentimentMax'
        - $ref: '#/components/parameters/ContentSentimentMin'
        - $ref: '#/components/parameters/ContentSentimentMax'
        - $ref: '#/components/parameters/IptcTags'
        - $ref: '#/components/parameters/NotIptcTags'
        - $ref: '#/components/parameters/NotTheme'
        - $ref: '#/components/parameters/IsPaidContent'
        - $ref: '#/components/parameters/ClusteringEnabled'
        - $ref: '#/components/parameters/ClusteringThreshold'
        - $ref: '#/components/parameters/ClusteringVariable'
        - $ref: '#/components/parameters/SourceName'
        - $ref: '#/components/parameters/PredefinedSources'
      responses:
        '200':
          $ref: '#/components/responses/AuthorsSuccessfulResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
    post:
      tags:
        - Authors
      summary: Search articles by author
      description: Searches for articles by author. You can filter results by language, country, source, and more.
      operationId: Authors_post
      requestBody:
        $ref: '#/components/requestBodies/AuthorsRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/AuthorsSuccessfulResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
  
  /api/search_by_link:
    get:
      tags:
        - SearchLink
      summary: Search articles by ID or link
      description: Searches for articles using their ID(s) or link(s).
      operationId: Search_url_get
      parameters:
        - $ref: '#/components/parameters/Links'
        - $ref: '#/components/parameters/Ids'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          $ref: '#/components/responses/SearchLinkSuccessfulResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
    post:
      tags:
        - SearchLink
      summary: Search articles by ID or link
      description: Searches for articles using their ID(s) or link(s).
      operationId: Search_url_post
      requestBody:
        $ref: '#/components/requestBodies/SearchLinkRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/SearchLinkSuccessfulResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'

  # Search Similar is the hidden endpoint, discuss with Maksym and Aditia.
  /api/search_similar:
    get:
      tags:
        - SearchSimilar
      summary: Search similar articles
      description: Searches for articles similar to the specified query. You can filter results by language, country, source, and more.
      operationId: SearchSimilar_get
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/SearchIn'
        - $ref: '#/components/parameters/IncludeSimilarDocuments'
        - $ref: '#/components/parameters/SimilarDocumentsNumber'
        - $ref: '#/components/parameters/SimilarDocumentsFields'
        - $ref: '#/components/parameters/PredefinedSources'
        - $ref: '#/components/parameters/Sources'
        - $ref: '#/components/parameters/NotSources'
        - $ref: '#/components/parameters/Lang'
        - $ref: '#/components/parameters/NotLang'
        - $ref: '#/components/parameters/Countries'
        - $ref: '#/components/parameters/NotCountries'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/ByParseDate'
        - $ref: '#/components/parameters/PublishedDatePrecision'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/RankedOnly'
        - $ref: '#/components/parameters/FromRank'
        - $ref: '#/components/parameters/ToRank'
        - $ref: '#/components/parameters/IsHeadline'
        - $ref: '#/components/parameters/IsOpinion'
        - $ref: '#/components/parameters/IsPaidContent'
        - $ref: '#/components/parameters/ParentUrl'
        - $ref: '#/components/parameters/AllLinks'
        - $ref: '#/components/parameters/AllDomainLinks'
        - $ref: '#/components/parameters/WordCountMin'
        - $ref: '#/components/parameters/WordCountMax'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/IncludeNlpData'
        - $ref: '#/components/parameters/HasNlp'
        - $ref: '#/components/parameters/Theme'
        - $ref: '#/components/parameters/NotTheme'
        - $ref: '#/components/parameters/NerName'
        - $ref: '#/components/parameters/TitleSentimentMin'
        - $ref: '#/components/parameters/TitleSentimentMax'
        - $ref: '#/components/parameters/ContentSentimentMin'
        - $ref: '#/components/parameters/ContentSentimentMax'
        - $ref: '#/components/parameters/IptcTags'
        - $ref: '#/components/parameters/NotIptcTags'
      responses:
        '200':
          $ref: '#/components/responses/SearchSimilarSuccessfulResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
    # Search Similar POST
    post:
      tags:
        - SearchSimilar
      summary: Search similar articles
      description: Searches for articles similar to the specified query. You can filter results by language, country, source, and more.
      operationId: SearchSimilar_post
      requestBody:
        $ref: '#/components/requestBodies/SearchSimilarRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/SearchSimilarSuccessfulResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
                
  /api/sources:
    get:
      tags:
        - Sources
      summary: Retrieve sources
      description: Retrieves the list of sources available in the database. You can filter the sources by language, country, and more. The maximum number of sources displayed is set according to your subscription plan.
      operationId: Sources_get
      parameters:
        - $ref: '#/components/parameters/Lang'
        - $ref: '#/components/parameters/Countries'
        - $ref: '#/components/parameters/PredefinedSources'
        - $ref: '#/components/parameters/IncludeAdditionalInfo'
        - $ref: '#/components/parameters/FromRank'
        - $ref: '#/components/parameters/ToRank'
        - $ref: '#/components/parameters/SourceName'
        - $ref: '#/components/parameters/SourceUrl'
      responses:
        '200':
          $ref: '#/components/responses/SourcesSuccessfulResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
    post:
      tags:
        - Sources
      summary: Retrieve sources
      description: Retrieves the list of sources available in the database. You can filter the sources by language, country, and more.
      operationId: Sources_post
      requestBody:
        $ref: '#/components/requestBodies/SourcesRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/SourcesSuccessfulResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse' 

  # Subscriptions
  /api/subscription:
    get:
      tags:
        - Subscription
      summary: Retrieve subscription plan information
      description: Retrieves information about your subscription plan.
      operationId: Subscription_get
      responses:
        '200':
          $ref: '#/components/responses/SubscriptionSuccessfulResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
    post:
      tags:
        - Subscription
      summary: Retrieve subscription plan information
      description: Retrieves information about your subscription plan.
      operationId: Subscription_post
      responses:
        '200':
          $ref: '#/components/responses/SubscriptionSuccessfulResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'



components:
  parameters:
    # Search parameters
    Q:
      description: |
        The keyword(s) to search for in articles. 
        Query syntax supports logical operators (AND, OR, NOT) and wildcards:

        - For an exact match, use double quotes (e.g., "exact phrase").
        - Use `*` to search for any keyword.
        - Use `+` to include and `-` to exclude specific words or phrases (e.g., +keyword, -keyword).
        - Use AND, OR, and NOT to refine search results (e.g., keyword1 AND (keyword2 OR keyword3) NOT keyword4).

        For more details, see [Advanced Querying](#).
      name: q
      in: query
      required: true
      schema:
        type: string
      example: "technology AND (Apple OR Microsoft) NOT Google"
    Lang:
      description: | 
        The language(s) of the search. 
        The only accepted format is the two-letter [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1) code.
        To select multiple languages, use a comma-separated string (e.g., "en,es").

        To learn more, see (Language format)(https://docs.newscatcherapi.com/api-docs/endpoints-1/debugging#language-format)
      name: lang
      in: query
      required: false
      schema:
        type: string
      examples:
          single-lang:
            summary: Single language
            value: "en"
          multiple-langs:
            summary: Multiple languages
            value: "en,es"
    NotLang:
      description: | 
        The language(s) to exclude from the search. 
        The accepted format is the two-letter [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1) code.
        To exclude multiple languages, use a comma-separated string (e.g., "en,es").

        To learn more, see (Language format)(https://docs.newscatcherapi.com/api-docs/endpoints-1/debugging#language-format)
      name: not_lang
      in: query
      required: false
      schema:
        type: string
      examples:
          single-lang:
            summary: Single language
            value: "en"
          multiple-langs:
            summary: Multiple languages
            value: "en,es"
    SearchIn:
      description: |
        The fields to search in. The accepted values are "title", "summary", and "content".
        To search in multiple fields, use a comma-separated string (e.g., "title,summary"). 
        The "summary" option available if NLP is enabled in you plan. Default: "title,content"
      name: search_in
      in: query
      required: false
      schema:
        type: string
      examples:
        single-field:
          summary: Single field
          value: "title"
        multiple-fields:
          summary: Multiple fields
          value: "title,content"
    Countries:
      description: | 
        The countries where the news publisher is located. 
        The accepted format is the two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.
        To select multiple countries, use a comma-separated string (e.g., "US,CA").

        To learn more, see [Country format](https://docs.newscatcherapi.com/api-docs/endpoints-1/debugging#countries-format)
      name: countries
      in: query
      required: false
      schema:
        type: string
      examples:
        single-country:
          summary: Single country
          value: "US"
        multiple-countries:
          summary: Multiple countries
          value: "US,CA"
    NotCountries:
      description: | 
        The publisher location countries to exclude from the search. 
        The accepted format is the two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.
        To select multiple countries, use a comma-separated string (e.g., "US,CA").

        To learn more, see [Country format](https://docs.newscatcherapi.com/api-docs/endpoints-1/debugging#countries-format)
      name: not_countries
      in: query
      required: false
      schema:
        type: string
      examples:
        single-country:
          summary: Single country
          value: "US"
        multiple-countries:
          summary: Multiple countries
          value: "US,CA"
    Sources:
      description: | 
        One or more news sources to narrow down your search. The format should be a domain URL. 
        Subdomains, like finance.yahoo.com, are also accepted. Use a comma-separated string or a list/array. 
        For example, `nytimes.com`, `theguardian.com`, `finance.yahoo.com`.
      name: sources
      in: query
      required: false
      schema:
        type: string
      examples:
        single-source:
          summary: Single source.
          value: "nytimes.com"
        multiple-sources:
          summary: Multiple sources.
          value: "nytimes.com,theguardian.com,finance.yahoo.com"
    NotSources:
      description: | 
        One or more sources to be excluded from the search. Comma-separated string or a list/array. 
        For example, `cnn.com`, `wsj.com`.
      name: not_sources
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      example: ["cnn.com", "wsj.com"]
    PredefinedSources:
      description: | 
        Use our TOP predefined sources per country. The format should be strictly like this: 
        starting with the word `top`, put the number of desired sources, and then the two-letter country code ISO 3166-1 alpha-2. 
        For example, `top 100 US`, `top 33 AT`, `top 5 GB`. Multiple countries can be specified with custom numbers, comma separated. 
        For example, `top 100 US, GB`, `top 33 AT, 55 IT`.
      name: predefined_sources
      in: query
      required: false
      schema:
        type: string
      example: "top 100 US, top 5 GB"
    SourceName:
      description: | 
        The names of one or more news sources to narrow down your search. Comma-separated string or a list/array. 
        For example: `CryptoPotato`, `thethings`. 
        NewsCatcher team does not suggest using `source_name` in Production. The best parameter to get data from a specific News Domain is `sources`.
      name: source_name
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      examples:
        single-source-name:
          summary: Single source name
          value: ["CryptoPotato"]
        multiple-source-names:
          summary: Multiple source names
          value: ["CryptoPotato", "The Guardian"]
    ParentUrl:
      description: | 
        One or more categorical URLs to filter your search. It should be the normal form of the URL. 
        For example, `https://www.washingtonpost.com/politics`, `https://www.washingtonpost.com/technology`, `https://www.washingtonpost.com/business`.
      name: parent_url
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      examples:
        single-parent-url:
          summary: Single parent URL
          value: ["https://www.washingtonpost.com/politics"]
        multiple-parent-urls:
          summary: Multiple parent URLs
          value: ["https://www.washingtonpost.com/politics", "https://www.washingtonpost.com/technology"]
    RankedOnly:
      description: | 
        If true, limits the search to sources ranked in the top 1 million online websites. 
        If false, includes unranked sources which are assigned a rank of 999999. 
        Default: true.
      name: ranked_only
      in: query
      required: false
      schema:
        type: boolean
        default: true
      example: true
    FromRank:
      description: | 
        The lowest boundary of the rank of a news website to filter by. 
        Range: 0 to 999999. 
        Lower rank means that a source is more popular.
      name: from_rank
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        maximum: 999999
      example: 100
    ToRank:
      description: | 
        The highest boundary of the rank of a news website to filter by. 
        Range: 0 to 999999.
      name: to_rank
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        maximum: 999999
      example: 10000
    SortBy:
      description: | 
        The sorting order of the results. Possible values are:
        - `relevancy` (default): The most relevant results first.
        - `date`: The most recently published results first.
        - `rank`: The results from the highest-ranked sources first.
      name: sort_by
      in: query
      required: false
      schema:
        type: string
        enum:
          - relevancy
          - date
          - rank
        default: relevancy
      example: "date"
    PageSize:
      description: | 
        The number of articles to return per page. 
        Range: 1 to 1000.
      name: page_size
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
      example: 50
    Page:
      description: | 
        The page number to scroll through the results. 
        This parameter is used to paginate: scroll through results because one API response cannot return more than 1000 articles.
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
      example: 2
    To:
      description: | 
        The end point in time to search for. The default timezone is UTC. 
        Available formats:
        - `YYYY/mm/dd`
        - `YYYY/mm/dd HH:MM:SS`
        - English phrases like `1 day ago.`
      name: to_
      in: query
      required: false
      schema:
        type: string
      examples:
        specific-date:
          summary: Specific date
          value: "2021/12/31"
        relative-date:
          summary: Relative date
          value: "1 day ago"
    From:
      description: | 
        The start point in time to search for. Defaults to the past week. 
        Available formats:
        - `YYYY/mm/dd`
        - `YYYY/mm/dd HH:MM:SS`
        - English phrases like `1 day ago.`
      name: from_
      in: query
      required: false
      schema:
        type: string
      examples:
        specific-date:
          summary: Specific date
          value: "2021/01/01"
        relative-date:
          summary: Relative date
          value: "7 days ago"
    PublishedDatePrecision:
      description: | 
        The precision of the published date. There are three types:
        - `full`: The day and time of an article is correctly identified with the appropriate timezone.
        - `timezone unknown`: The day and time of an article is correctly identified without timezone.
        - `date`: Only the day is identified without an exact time.
      name: published_date_precision
      in: query
      required: false
      schema:
        type: string
        enum:
          - full
          - timezone unknown
          - date
      example: "full"
    ByParseDate:
      description: | 
        If true, transforms your `from_` and `to_` parameters to filter by parse_date instead of published_date. 
        Be aware that a new variable `parse_date` will be added to the output list with each article.
      name: by_parse_date
      in: query
      required: false
      schema:
        type: boolean
      example: true
    IsHeadline:
      description: | 
        If true, only returns articles that were posted on the home page of a given news domain.
      name: is_headline
      in: query
      required: false
      schema:
        type: boolean
      example: true
    AllLinks:
      description: | 
        Search for desired URLs mentioned in the article. 
        Please refer to the All Links And Domains Format page for more examples and explanations.
      name: all_links
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      examples:
        single-link:
          summary: Single link
          value: ["https://example.com"]
        multiple-links:
          summary: Multiple links
          value: ["https://example.com", "https://anotherexample.com"]
    NotAuthorName:
      description: | 
        The list of author names to exclude from your search. 
        Can be a list of strings or a comma-separated string containing all the author names. 
        Usually, you might want to exclude articles where one of the authors is Associated Press, or PRNewswire. 
        For example: `PRNewswire`, `AOL Staff`.
      name: not_author_name
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      examples:
        single-author-name:
          summary: Single author name
          value: ["PRNewswire"]
        multiple-author-names:
          summary: Multiple author names
          value: ["PRNewswire", "AOL Staff"]
    AllDomainLinks:
      description: | 
        Search for desired domain URLs mentioned in the article. 
        Please refer to the All Links And Domains Format page for more examples and explanations.
      name: all_domain_links
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      example:
        summary: Multiple domain URLs
        value: ["example.com", "example2.com"]
    WordCountMin:
      description: | 
        The minimum number of words an article must contain. 
        To be used for avoiding articles with small content.
      name: word_count_min
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
      example: 300
    WordCountMax:
      description: | 
        The maximum number of words an article can contain. 
        To be used for avoiding articles with large content.
      name: word_count_max
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
      example: 1000
    ClusteringVariable:
      description: | 
        The data on which the similarity is calculated. Options are `content`, `title`, `summary`. 
        Default is `content`.
      name: clustering_variable
      in: query
      required: false
      schema:
        type: string
        enum:
          - content
          - title
          - summary
      example: "content"
    ClusteringEnabled:
      description: | 
        If true, enables clustering on articles. Default is false.
      name: clustering_enabled
      in: query
      required: false
      schema:
        type: boolean
      example: true
    ClusteringThreshold:
      description: | 
        The threshold for an article to be considered similar. Default value: 0.6. 
        The value can vary from 0 to 1.
      name: clustering_threshold
      in: query
      required: false
      schema:
        type: number
        minimum: 0
        maximum: 1
        default: 0.6
      example: 0.7
    IncludeNlpData:
      description: | 
        If true, includes an NLP layer with each article. 
        Not available for all plans. Contact support to enable it.
      name: include_nlp_data
      in: query
      required: false
      schema:
        type: boolean
      example: true
    HasNlp:
      description: | 
        If true, filters data to include only articles with an NLP layer. 
        Available only if NLP is enabled for your API key.
      name: has_nlp
      in: query
      required: false
      schema:
        type: boolean
      example: true
    Theme:
      description: | 
        A general topic of the article. Topic labeling is based on the actual content of an article. 
        Options include `Business`, `Economics`, `Entertainment`, `Finance`, `Health`, `Politics`, `Science`, `Sports`, `Tech`, `Crime`, `Lifestyle`, `Automotive`, `Travel`, `Weather`, `General`. 
        Multiple themes can be selected, separated by commas. 
        Available only if NLP is enabled for your API key.
      name: theme
      in: query
      required: false
      schema:
        type: string
      example: "Business,Finance"
    NotTheme:
      description: | 
        Inverse of the `theme` parameter. Filters articles based on their general topic. 
        Available only if NLP is enabled for your API key.
      name: not_theme
      in: query
      required: false
      schema:
        type: string
      example: "Crime"
    OrgEntityName:
      description: | 
        The organization entity names mentioned in articles to filter by. 
        Available only if NLP is enabled for your API key.
      name: ORG_entity_name
      in: query
      required: false
      schema:
        type: string
      example: "Apple"
    PerEntityName:
      description: | 
        The person entity names mentioned in articles to filter by. 
        Available only if NLP is enabled for your API key.
      name: PER_entity_name
      in: query
      required: false
      schema:
        type: string
      example: "Elon Musk"
    LocEntityName:
      description: | 
        The location entity names mentioned in articles to filter by. 
        Available only if NLP is enabled for your API key.
      name: LOC_entity_name
      in: query
      required: false
      schema:
        type: string
      example: "California"
    MiscEntityName:
      description: | 
        The miscellaneous entity names mentioned in articles to filter by. 
        Available only if NLP is enabled for your API key.
      name: MISC_entity_name
      in: query
      required: false
      schema:
        type: string
      example: "Bitcoin"
    TitleSentimentMin:
      description: | 
        The minimum title sentiment score. Range is -1 to 1. 
        Available only if NLP is enabled for your API key.
      name: title_sentiment_min
      in: query
      required: false
      schema:
        type: number
        minimum: -1
        maximum: 1
      example: -0.5
    TitleSentimentMax:
      description: | 
        The maximum title sentiment score. Range is -1 to 1. 
        Available only if NLP is enabled for your API key.
      name: title_sentiment_max
      in: query
      required: false
      schema:
        type: number
        minimum: -1
        maximum: 1
      example: 0.5
    ContentSentimentMin:
      description: | 
        The minimum content sentiment score. Range is -1 to 1. 
        Available only if NLP is enabled for your API key.
      name: content_sentiment_min
      in: query
      required: false
      schema:
        type: number
        minimum: -1
        maximum: 1
      example: -0.5
    ContentSentimentMax:
      description: | 
        The maximum content sentiment score. Range is -1 to 1. 
        Available only if NLP is enabled for your API key.
      name: content_sentiment_max
      in: query
      required: false
      schema:
        type: number
        minimum: -1
        maximum: 1
      example: 0.5
    IptcTags:
      description: | 
        The IPTC tags to filter articles by. Only IPTC tag IDs can be used. 
        Available only if tags are enabled for your API key.
      name: iptc_tags
      in: query
      required: false
      schema:
        type: string
      example: "20000188"
    NotIptcTags:
      description: | 
        The IPTC tags to exclude articles by. Only IPTC tag IDs can be used. 
        Available only if tags are enabled for your API key.
      name: not_iptc_tags
      in: query
      required: false
      schema:
        type: string
      example: "20000199"
    IabTags:
      description: | 
        The IAB tags based on the content to filter articles. IAB tags refer to standardized categories used in online advertising to classify the content of web pages. Use these tags to include articles that match specific IAB categories.
      name: iab_tags
      in: query
      required: false
      schema:
        type: string
      example: "IAB1, IAB2"
    NotIabTags:
      description: | 
        The IAB tags to exclude articles based on their content. IAB tags refer to standardized categories used in online advertising to classify the content of web pages. Use these tags to exclude articles that match specific IAB categories.
      name: not_iab_tags
      in: query
      required: false
      schema:
        type: string
      example: "IAB1, IAB2"

    ExcludeDuplicates:
      description: | 
        If true, excludes duplicate articles from the search results. 
        If false, returns all relevant articles, including duplicates. 
        To learn more, see Deduplicate Articles.
      name: exclude_duplicates
      in: query
      required: false
      schema:
        type: boolean
      example: true

    # Additinal parameters for Latest Headlines
    When:
      description: |
        The time period to get the latest headlines for.
        Accepted forms:
        - `7d`: Daily Form (last 7 days time period)
        - `30d`: (last 30 days time period)
        - `1h`: Hourly Form (last hour)
        - `24h`: (last 24 hours)
        Default: The number of historic data available for your subscription plan.
      name: when
      in: query
      required: false
      schema:
        type: string
      examples:
        daily:
          summary: Last 7 days
          value: "7d"
        hourly:
          summary: Last hour
          value: "1h"
    IsOpinion:
      description: |
        If true, only returns articles that are determined to be opinion pieces.
        If false, excludes opinion-based articles and returns news only.
        Default: false.
      name: is_opinion
      in: query
      required: false
      schema:
        type: boolean
      example: true
    IsPaidContent:
      description: |
        If false, only returns articles that publish fully publicly available content.
        Some news publishers partially block content of their articles, so we get only several sentences from them.
        This filter will help you get full content.
      name: is_paid_content
      in: query
      required: false
      schema:
        type: boolean
      example: false

    # Additional parameter for Authors
    AuthorName:
      description: |
        The name of the author to search for.
        This parameter returns exact matches only.
      name: author_name
      in: query
      required: true
      schema:
        type: string
      example: "John Doe"

    # Additional parameters for Search By Link
    Links:
      description: |
        The article link or list of article links to search for.
        For example: `https://example.com/article1`, `https://example.com/article2`.
      name: links
      in: query
      required: true
      schema:
        type: string
      examples:
        single-link:
          summary: Single article link
          value: "https://example.com/article1"
        multiple-links:
          summary: Multiple article links
          value: "https://example.com/article1,https://example.com/article2"
    Ids:
      description: |
        The Newscatcher article ID (corresponds to the `_id` field in API response) or a list of article IDs to search for.
        For example: `1234567890abcdef`, `abcdef1234567890`.
      name: ids
      in: query
      required: true
      schema:
        type: string
      examples:
        single-id:
          summary: Single article ID
          value: "1234567890abcdef"
        multiple-ids:
          summary: Multiple article IDs
          value: "1234567890abcdef,abcdef1234567890"
    
    # Additional parametes for Search Similar (hidden endpoint). Need to clarify.
    IncludeSimilarDocuments:
      description: |
        If true, includes similar documents in the response.
        Default: false.
      name: include_similar_documents
      in: query
      required: false
      schema:
        type: boolean
        default: false
      example: true
    SimilarDocumentsNumber:
      description: |
        The number of similar documents to return.
        Default: 5.
      name: similar_documents_number
      in: query
      required: false
      schema:
        type: integer
        default: 5
      example: 10
    SimilarDocumentsFields:
      description: |
        The fields to consider for finding similar documents.
        Default: title,content.
      name: similar_documents_fields
      in: query
      required: false
      schema:
        type: string
        default: "title,content"
      example: "title,summary"
    NerName:
      description: |
        The name entity recognition (NER) name to search for.
      name: ner_name
      in: query
      required: false
      schema:
        type: string
      example: "Elon Musk"

    # Additional parameters for Sources
    IncludeAdditionalInfo:
      description: |
        If true, returns the following additional datapoints about each news source:
        - `nb_articles_for_7d`: The number of articles published by the source in the last week.
        - `country`: Source country of origin.
        - `rank`: SEO rank.
      name: include_additional_info
      in: query
      required: false
      schema:
        type: boolean
      example: true
    SourceUrl:
      description: |
        The domain of the news publication to search for.
        You cannot use the `source_url` parameter in combination with any other parameter.
      name: source_url
      in: query
      required: false
      schema:
        type: string
      example: "example.com"

  requestBodies:
    AuthorsRequestBody:
      description: Request body for searching articles by author based on specified criteria such as author name, language, country, source, and more.
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - author_name
            properties:
              author_name:
                type: string
                description: |
                  The name of the author to search for.
                  This parameter returns exact matches only.
                example: "John Doe"
              not_author_name:
                type: array
                items:
                  type: string
                description: | 
                  The names of the authors to exclude from the search. Can be a list of strings or a comma-separated string containing all the author names. Usually, you might want to exclude articles where one of the authors is Associated Press, or PRNewswire.
                example: ["PRNewswire", "AOL Staff"]
              lang:
                type: string
                description: | 
                  The languages of the search. 
                  The only accepted format is the two-letter [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1) code.
                  To select multiple languages, use a comma-separated string (e.g., "en,es").
                example: "en"
              not_lang:
                type: string
                description: | 
                  The languages to exclude from the search. 
                  The accepted format is the two-letter [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1) code.
                  To exclude multiple languages, use a comma-separated string (e.g., "en,es").
                example: "en"
              published_date_precision:
                type: string
                description: | 
                  The precision of the published date. There are three types:
                  - `full`: The day and time of an article is correctly identified with the appropriate timezone.
                  - `timezone unknown`: The day and time of an article is correctly identified without timezone.
                  - `date`: Only the day is identified without an exact time.
                example: "full"
              countries:
                type: string
                description: | 
                  The countries where the news publisher is located. 
                  The accepted format is the two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.
                  To select multiple countries, use a comma-separated string (e.g., "US,CA").
                example: "US"
              not_countries:
                type: string
                description: | 
                  The countries to exclude from the search. 
                  The accepted format is the two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.
                  To exclude multiple countries, use a comma-separated string (e.g., "US,CA").
                example: "US"
              sources:
                type: string
                description: | 
                  One or more news sources to narrow down your search. The format should be a domain URL. 
                  Subdomains, like finance.yahoo.com, are also accepted. Use a comma-separated string or a list/array. 
                  For example, `nytimes.com`, `theguardian.com`, `finance.yahoo.com`.
                example: "nytimes.com"
              not_sources:
                type: array
                items:
                  type: string
                description: | 
                  One or more sources to be excluded from the search. Comma-separated string or a list/array. 
                  For example, `cnn.com`, `wsj.com`.
                example: ["cnn.com", "wsj.com"]
              ranked_only:
                type: boolean
                description: | 
                  If true, limits the search to sources ranked in the top 1 million online websites. 
                  If false, includes unranked sources which are assigned a rank of 999999. 
                  Default: true.
                example: true
              from_rank:
                type: integer
                minimum: 0
                maximum: 999999
                description: | 
                  The lowest boundary of the rank of a news website to filter by. 
                  Range: 0 to 999999. 
                  Lower rank means that a source is more popular.
                example: 100
              to_rank:
                type: integer
                minimum: 0
                maximum: 999999
                description: | 
                  The highest boundary of the rank of a news website to filter by. 
                  Range: 0 to 999999.
                example: 10000
              sort_by:
                type: string
                enum:
                  - relevancy
                  - date
                  - rank
                description: | 
                  The sorting order of the results. Possible values are:
                  - `relevancy` (default): The most relevant results first.
                  - `date`: The most recently published results first.
                  - `rank`: The results from the highest-ranked sources first.
                example: "date"
              page_size:
                type: integer
                minimum: 1
                maximum: 1000
                description: | 
                  The number of articles to return per page. 
                  Range: 1 to 1000.
                example: 50
              page:
                type: integer
                minimum: 1
                description: | 
                  The page number to scroll through the results. 
                  This parameter is used to paginate: scroll through results because one API response cannot return more than 1000 articles.
                example: 2
              to_:
                type: string
                description: | 
                  The end point in time to search for. The default timezone is UTC. 
                  Available formats:
                  - `YYYY/mm/dd`
                  - `YYYY/mm/dd HH:MM:SS`
                  - English phrases like `1 day ago.`
                example: "2021/12/31"
              from_:
                type: string
                description: | 
                  The start point in time to search for. Defaults to the past week. 
                  Available formats:
                  - `YYYY/mm/dd`
                  - `YYYY/mm/dd HH:MM:SS`
                  - English phrases like `1 day ago.`
                example: "2021/01/01"
              by_parse_date:
                type: boolean
                description: | 
                  If true, transforms your `from_` and `to_` parameters to filter by parse_date instead of published_date. 
                  Be aware that a new variable `parse_date` will be added to the output list with each article.
                example: true
              is_headline:
                type: boolean
                description: | 
                  If true, only returns articles that were posted on the home page of a given news domain.
                example: true
              is_opinion:
                type: boolean
                description: |
                  If true, only returns articles that are determined to be opinion pieces.
                  If false, excludes opinion-based articles and returns news only.
                  Default: false.
                example: true
              parent_url:
                type: array
                items:
                  type: string
                description: | 
                  One or more categorical URLs to filter your search. It should be the normal form of the URL. 
                  For example, `https://www.washingtonpost.com/politics`, `https://www.washingtonpost.com/technology`, `https://www.washingtonpost.com/business`.
                example: ["https://www.washingtonpost.com/politics"]
              all_links:
                type: array
                items:
                  type: string
                description: | 
                  Search for desired URLs mentioned in the article. 
                  Please refer to the All Links And Domains Format page for more examples and explanations.
                example: ["https://example.com"]
              all_domain_links:
                type: array
                items:
                  type: string
                description: | 
                  Search for desired domain URLs mentioned in the article. 
                  Please refer to the All Links And Domains Format page for more examples and explanations.
                example: ["example.com", "example2.com"]
              word_count_min:
                type: integer
                minimum: 0
                description: | 
                  The minimum number of words an article must contain. 
                  To be used for avoiding articles with small content.
                example: 300
              word_count_max:
                type: integer
                minimum: 0
                description: | 
                  The maximum number of words an article can contain. 
                  To be used for avoiding articles with large content.
                example: 1000
              include_nlp_data:
                type: boolean
                description: | 
                  If true, includes an NLP layer with each article. 
                  Not available for all plans. Contact support to enable it.
                example: true
              has_nlp:
                type: boolean
                description: | 
                  If true, filters data to include only articles with an NLP layer. 
                  Available only if NLP is enabled for your API key.
                example: true
              theme:
                type: string
                description: | 
                  A general topic of the article. Topic labeling is based on the actual content of an article. 
                  Options include `Business`, `Economics`, `Entertainment`, `Finance`, `Health`, `Politics`, `Science`, `Sports`, `Tech`, `Crime`, `Lifestyle`, `Automotive`, `Travel`, `Weather`, `General`. 
                  Multiple themes can be selected, separated by commas. 
                  Available only if NLP is enabled for your API key.
                example: "Business,Finance"
              not_theme:
                type: string
                description: | 
                  Inverse of the `theme` parameter. Filters articles based on their general topic. 
                  Available only if NLP is enabled for your API key.
                example: "Crime"
              ORG_entity_name:
                type: string
                description: | 
                  The organization entity names mentioned in articles to filter by. 
                  Available only if NLP is enabled for your API key.
                example: "Apple"
              PER_entity_name:
                type: string
                description: | 
                  The person entity names mentioned in articles to filter by. 
                  Available only if NLP is enabled for your API key.
                example: "Elon Musk"
              LOC_entity_name:
                type: string
                description: | 
                  The location entity names mentioned in articles to filter by. 
                  Available only if NLP is enabled for your API key.
                example: "California"
              MISC_entity_name:
                type: string
                description: | 
                  The miscellaneous entity names mentioned in articles to filter by. 
                  Available only if NLP is enabled for your API key.
                example: "Bitcoin"
              title_sentiment_min:
                type: number
                minimum: -1
                maximum: 1
                description: | 
                  The minimum title sentiment score. Range is -1 to 1. 
                  Available only if NLP is enabled for your API key.
                example: -0.5
              title_sentiment_max:
                type: number
                minimum: -1
                maximum: 1
                description: | 
                  The maximum title sentiment score. Range is -1 to 1. 
                  Available only if NLP is enabled for your API key.
                example: 0.5
              content_sentiment_min:
                type: number
                minimum: -1
                maximum: 1
                description: | 
                  The minimum content sentiment score. Range is -1 to 1. 
                  Available only if NLP is enabled for your API key.
                example: -0.5
              content_sentiment_max:
                type: number
                minimum: -1
                maximum: 1
                description: | 
                  The maximum content sentiment score. Range is -1 to 1. 
                  Available only if NLP is enabled for your API key.
                example: 0.5
              iptc_tags:
                type: string
                description: | 
                  The IPTC tags to filter articles by. Only IPTC tag IDs can be used. 
                  Available only if tags are enabled for your API key.
                example: "20000188"
              not_iptc_tags:
                type: string
                description: | 
                  The IPTC tags to exclude articles by. Only IPTC tag IDs can be used. 
                  Available only if tags are enabled for your API key.
                example: "20000199"
              iab_tags:
                type: string
                description: | 
                  The IAB tags based on the content to filter articles. IAB tags refer to standardized categories used in online advertising to classify the content of web pages. Use these tags to include articles that match specific IAB categories.
                example: "IAB1, IAB2"
              not_iab_tags:
                type: string
                description: | 
                  The IAB tags to exclude articles based on their content. IAB tags refer to standardized categories used in online advertising to classify the content of web pages. Use these tags to exclude articles that match specific IAB categories.
                example: "IAB1, IAB2"
              exclude_duplicates:
                type: boolean
                description: | 
                  If true, excludes duplicate articles from the search results. 
                  If false, returns all relevant articles, including duplicates. 
                  To learn more, see Deduplicate Articles.
                example: true

    LatestHeadlinesRequestBody:
      description: Request body for retrieving the latest headlines based on specified criteria such as language, country, source, and more.
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              ranked_only:
                type: boolean
                description: | 
                  If true, limits the search to sources ranked in the top 1 million online websites. 
                  If false, includes unranked sources which are assigned a rank of 999999. 
                  Default: true.
                example: true
              when:
                type: string
                description: |
                  The time period to get the latest headlines for.
                  Accepted forms:
                  - `7d`: Daily Form (last 7 days time period)
                  - `30d`: (last 30 days time period)
                  - `1h`: Hourly Form (last hour)
                  - `24h`: (last 24 hours)
                  Default: The number of historic data available for your subscription plan.
                example: "7d"
              lang:
                type: string
                description: | 
                  The languages of the search. 
                  The only accepted format is the two-letter [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1) code.
                  To select multiple languages, use a comma-separated string (e.g., "en,es").
                example: "en"
              not_lang:
                type: string
                description: | 
                  The languages to exclude from the search. 
                  The accepted format is the two-letter [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1) code.
                  To exclude multiple languages, use a comma-separated string (e.g., "en,es").
                example: "en"
              countries:
                type: string
                description: | 
                  The countries where the news publisher is located. 
                  The accepted format is the two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.
                  To select multiple countries, use a comma-separated string (e.g., "US,CA").
                example: "US"
              not_countries:
                type: string
                description: | 
                  The countries to exclude from the search. 
                  The accepted format is the two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.
                  To exclude multiple countries, use a comma-separated string (e.g., "US,CA").
                example: "US"
              theme:
                type: string
                description: | 
                  A general topic of an article. Topic labeling is based on the actual content of an article. 
                  Options include `Business`, `Economics`, `Entertainment`, `Finance`, `Health`, `Politics`, `Science`, `Sports`, `Tech`, `Crime`, `Lifestyle`, `Automotive`, `Travel`, `Weather`, `General`. 
                  Multiple themes can be selected, separated by commas. 
                  Available only if NLP is enabled for your API key.
                example: "Business,Finance"
              not_theme:
                type: string
                description: | 
                  Inverse of the `theme` parameter. Filters articles based on their general topic. 
                  Available only if NLP is enabled for your API key.
                example: "Crime"
              sources:
                type: string
                description: | 
                  One or more news sources to narrow down your search. The format should be a domain URL. 
                  Subdomains, like finance.yahoo.com, are also accepted. Use a comma-separated string or a list/array. 
                  For example, `nytimes.com`, `theguardian.com`, `finance.yahoo.com`.
                example: "nytimes.com"
              not_sources:
                type: array
                items:
                  type: string
                description: | 
                  One or more sources to be excluded from the search. Comma-separated string or a list/array. 
                  For example, `cnn.com`, `wsj.com`.
                example: ["cnn.com", "wsj.com"]
              page_size:
                type: integer
                minimum: 1
                maximum: 100
                description: | 
                  The number of articles to return per page. 
                  Range: 1 to 100.
                example: 50
              page:
                type: integer
                minimum: 1
                description: | 
                  The page number to scroll through the results. 
                  This parameter is used to paginate: scroll through results because one API response cannot return more than 1000 articles.
                example: 2
              by_parse_date:
                type: boolean
                description: | 
                  If true, transforms your `when` parameters to filter by parse_date instead of published_date. 
                  Be aware that a new variable `parse_date` will be added to the output list with each article.
                example: true
              is_headline:
                type: boolean
                description: | 
                  If true, only returns articles that were posted on the home page of a given news domain.
                example: true
              is_opinion:
                type: boolean
                description: |
                  If true, only returns articles that are determined to be opinion pieces.
                  If false, excludes opinion-based articles and returns news only.
                  Default: false.
                example: true
              is_paid_content:
                type: boolean
                description: |
                  If false, only returns articles that publish fully publicly available content.
                  Some news publishers partially block content of their articles, so we get only several sentences from them.
                  This filter will help you get full content.
                example: false
              parent_url:
                type: array
                items:
                  type: string
                description: | 
                  One or more categorical URLs to filter your search. It should be the normal form of the URL. 
                  For example, `https://www.washingtonpost.com/politics`, `https://www.washingtonpost.com/technology`, `https://www.washingtonpost.com/business`.
                example: ["https://www.washingtonpost.com/politics"]
              all_links:
                type: array
                items:
                  type: string
                description: | 
                  Search for desired URLs mentioned in the article. 
                  Please refer to the All Links And Domains Format page for more examples and explanations.
                example: ["https://example.com"]
              all_domain_links:
                type: array
                items:
                  type: string
                description: | 
                  Search for desired domain URLs mentioned in the article. 
                  Please refer to the All Links And Domains Format page for more examples and explanations.
                example: ["example.com", "example2.com"]
              word_count_min:
                type: integer
                minimum: 0
                description: | 
                  The minimum number of words an article must contain. 
                  To be used for avoiding articles with small content.
                example: 300
              word_count_max:
                type: integer
                minimum: 0
                description: | 
                  The maximum number of words an article can contain. 
                  To be used for avoiding articles with large content.
                example: 1000
              include_nlp_data:
                type: boolean
                description: | 
                  If true, includes an NLP layer with each article. 
                  Not available for all plans. Contact support to enable it.
                example: true
              has_nlp:
                type: boolean
                description: | 
                  If true, filters data to include only articles with an NLP layer. 
                  Available only if NLP is enabled for your API key.
                example: true
              title_sentiment_min:
                type: number
                minimum: -1
                maximum: 1
                description: | 
                  The minimum title sentiment score. Range is -1 to 1. 
                  Available only if NLP is enabled for your API key.
                example: -0.5
              title_sentiment_max:
                type: number
                minimum: -1
                maximum: 1
                description: | 
                  The maximum title sentiment score. Range is -1 to 1. 
                  Available only if NLP is enabled for your API key.
                example: 0.5
              content_sentiment_min:
                type: number
                minimum: -1
                maximum: 1
                description: | 
                  The minimum content sentiment score. Range is -1 to 1. 
                  Available only if NLP is enabled for your API key.
                example: -0.5
              content_sentiment_max:
                type: number
                minimum: -1
                maximum: 1
                description: | 
                  The maximum content sentiment score. Range is -1 to 1. 
                  Available only if NLP is enabled for your API key.
                example: 0.5
              iptc_tags:
                type: string
                description: | 
                  The IPTC tags to filter articles by. Only IPTC tag IDs can be used. 
                  Available only if tags are enabled for your API key.
                example: "20000188"
              not_iptc_tags:
                type: string
                description: | 
                  The IPTC tags to exclude articles by. Only IPTC tag IDs can be used. 
                  Available only if tags are enabled for your API key.
                example: "20000199"
              iab_tags:
                type: string
                description: | 
                  The IAB tags based on the content to filter articles. IAB tags refer to standardized categories used in online advertising to classify the content of web pages. Use these tags to include articles that match specific IAB categories.
                example: "IAB1, IAB2"
              not_iab_tags:
                type: string
                description: | 
                  The IAB tags to exclude articles based on their content. IAB tags refer to standardized categories used in online advertising to classify the content of web pages. Use these tags to exclude articles that match specific IAB categories.
                example: "IAB1, IAB2"
              exclude_duplicates:
                type: boolean
                description: | 
                  If true, excludes duplicate articles from the search results. 
                  If false, returns all relevant articles, including duplicates. 
                  To learn more, see Deduplicate Articles.
                example: true

    SearchRequestBody:
      description: Request body for searching articles based on specified criteria such as keyword, language, country, source, and more.
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - q
            properties:
              q:
                type: string
                description: |
                  The keyword(s) to search for in articles. 
                  Query syntax supports logical operators (AND, OR, NOT) and wildcards:

                  - For an exact match, use double quotes (e.g., "exact phrase").
                  - Use `*` to search for any keyword.
                  - Use `+` to include and `-` to exclude specific words or phrases (e.g., +keyword, -keyword).
                  - Use AND, OR, and NOT to refine search results (e.g., keyword1 AND (keyword2 OR keyword3) NOT keyword4).

                  For more details, see [Advanced Querying](#).
                example: "technology AND (Apple OR Microsoft) NOT Google"
              lang:
                type: string
                description: | 
                  The language(s) of the search. 
                  The only accepted format is the two-letter [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1) code.
                  To select multiple languages, use a comma-separated string (e.g., "en,es").

                  To learn more, see (Language format)(https://docs.newscatcherapi.com/api-docs/endpoints-1/debugging#language-format)
                example: "en"
              not_lang:
                type: string
                description: | 
                  The language(s) to exclude from the search. 
                  The accepted format is the two-letter [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1) code.
                  To exclude multiple languages, use a comma-separated string (e.g., "en,es").

                  To learn more, see (Language format)(https://docs.newscatcherapi.com/api-docs/endpoints-1/debugging#language-format)
                example: "en"
              published_date_precision:
                type: string
                description: | 
                  The precision of the published date. There are three types:
                  - `full`: The day and time of an article is correctly identified with the appropriate timezone.
                  - `timezone unknown`: The day and time of an article is correctly identified without timezone.
                  - `date`: Only the day is identified without an exact time.
                example: "full"
              search_in:
                type: string
                description: |
                  The fields to search in. The accepted values are "title", "summary", and "content".
                  To search in multiple fields, use a comma-separated string (e.g., "title,summary"). 
                  The "summary" option available if NLP is enabled in you plan. Default: "title,content"
                example: "title"
              countries:
                type: string
                description: | 
                  The countries where the news publisher is located. 
                  The accepted format is the two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.
                  To select multiple countries, use a comma-separated string (e.g., "US,CA").

                  To learn more, see [Country format](https://docs.newscatcherapi.com/api-docs/endpoints-1/debugging#countries-format)
                example: "US"
              not_countries:
                type: string
                description: | 
                  The publisher location countries to exclude from the search. 
                  The accepted format is the two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.
                  To select multiple countries, use a comma-separated string (e.g., "US,CA").

                  To learn more, see [Country format](https://docs.newscatcherapi.com/api-docs/endpoints-1/debugging#countries-format)
                example: "US"
              sources:
                type: string
                description: | 
                  One or more news sources to narrow down your search. The format should be a domain URL. 
                  Subdomains, like finance.yahoo.com, are also accepted. Use a comma-separated string or a list/array. 
                  For example, `nytimes.com`, `theguardian.com`, `finance.yahoo.com`.
                example: "nytimes.com"
              not_sources:
                type: array
                items:
                  type: string
                description: | 
                  One or more sources to be excluded from the search. Comma-separated string or a list/array. 
                  For example, `cnn.com`, `wsj.com`.
                example: ["cnn.com", "wsj.com"]
              ranked_only:
                type: boolean
                description: | 
                  If true, limits the search to sources ranked in the top 1 million online websites. 
                  If false, includes unranked sources which are assigned a rank of 999999. 
                  Default: true.
                example: true
              from_rank:
                type: integer
                minimum: 0
                maximum: 999999
                description: | 
                  The lowest boundary of the rank of a news website to filter by. 
                  Range: 0 to 999999. 
                  Lower rank means that a source is more popular.
                example: 100
              to_rank:
                type: integer
                minimum: 0
                maximum: 999999
                description: | 
                  The highest boundary of the rank of a news website to filter by. 
                  Range: 0 to 999999.
                example: 10000
              sort_by:
                type: string
                enum:
                  - relevancy
                  - date
                  - rank
                description: | 
                  The sorting order of the results. Possible values are:
                  - `relevancy` (default): The most relevant results first.
                  - `date`: The most recently published results first.
                  - `rank`: The results from the highest-ranked sources first.
                example: "date"
              page_size:
                type: integer
                minimum: 1
                maximum: 1000
                description: | 
                  The number of articles to return per page. 
                  Range: 1 to 1000.
                example: 50
              page:
                type: integer
                minimum: 1
                description: | 
                  The page number to scroll through the results. 
                  This parameter is used to paginate: scroll through results because one API response cannot return more than 1000 articles.
                example: 2
              to_:
                type: string
                description: | 
                  The end point in time to search for. The default timezone is UTC. 
                  Available formats:
                  - `YYYY/mm/dd`
                  - `YYYY/mm/dd HH:MM:SS`
                  - English phrases like `1 day ago.`
                example: "2021/12/31"
              from_:
                type: string
                description: | 
                  The start point in time to search for. Defaults to the past week. 
                  Available formats:
                  - `YYYY/mm/dd`
                  - `YYYY/mm/dd HH:MM:SS`
                  - English phrases like `1 day ago.`
                example: "2021/01/01"
              by_parse_date:
                type: boolean
                description: | 
                  If true, transforms your `from_` and `to_` parameters to filter by parse_date instead of published_date. 
                  Be aware that a new variable `parse_date` will be added to the output list with each article.
                example: true
              is_headline:
                type: boolean
                description: | 
                  If true, only returns articles that were posted on the home page of a given news domain.
                example: true
              all_links:
                type: array
                items:
                  type: string
                description: | 
                  Search for desired URLs mentioned in the article. 
                  Please refer to the All Links And Domains Format page for more examples and explanations.
                example: ["https://example.com"]
              not_author_name:
                type: array
                items:
                  type: string
                description: | 
                  The list of author names to exclude from your search. 
                  Can be a list of strings or a comma-separated string containing all the author names. 
                  Usually, you might want to exclude articles where one of the authors is Associated Press, or PRNewswire. 
                  For example: `PRNewswire`, `AOL Staff`.
                example: ["PRNewswire"]
              all_domain_links:
                type: array
                items:
                  type: string
                description: | 
                  Search for desired domain URLs mentioned in the article. 
                  Please refer to the All Links And Domains Format page for more examples and explanations.
                example: ["example.com", "example2.com"]
              word_count_min:
                type: integer
                minimum: 0
                description: | 
                  The minimum number of words an article must contain. 
                  To be used for avoiding articles with small content.
                example: 300
              word_count_max:
                type: integer
                minimum: 0
                description: | 
                  The maximum number of words an article can contain. 
                  To be used for avoiding articles with large content.
                example: 1000
              clustering_variable:
                type: string
                enum:
                  - content
                  - title
                  - summary
                description: | 
                  The data on which the similarity is calculated. Options are `content`, `title`, `summary`. 
                  Default is `content`.
                example: "content"
              clustering_enabled:
                type: boolean
                description: | 
                  If true, enables clustering on articles. Default is false.
                example: true
              clustering_threshold:
                type: number
                minimum: 0
                maximum: 1
                description: | 
                  The threshold for an article to be considered similar. Default value: 0.6. 
                  The value can vary from 0 to 1.
                example: 0.7
                default: 0.6
              include_nlp_data:
                type: boolean
                description: | 
                  If true, includes an NLP layer with each article. 
                  Not available for all plans. Contact support to enable it.
                example: true
              has_nlp:
                type: boolean
                description: | 
                  If true, filters data to include only articles with an NLP layer. 
                  Available only if NLP is enabled for your API key.
                example: true
              theme:
                type: string
                description: | 
                  A general topic of the article. Topic labeling is based on the actual content of an article. 
                  Options include `Business`, `Economics`, `Entertainment`, `Finance`, `Health`, `Politics`, `Science`, `Sports`, `Tech`, `Crime`, `Lifestyle`, `Automotive`, `Travel`, `Weather`, `General`. 
                  Multiple themes can be selected, separated by commas. 
                  Available only if NLP is enabled for your API key.
                example: "Business,Finance"
              not_theme:
                type: string
                description: | 
                  Inverse of the `theme` parameter. Filters articles based on their general topic. 
                  Available only if NLP is enabled for your API key.
                example: "Crime"
              ORG_entity_name:
                type: string
                description: | 
                  The organization entity names mentioned in articles to filter by. 
                  Available only if NLP is enabled for your API key.
                example: "Apple"
              PER_entity_name:
                type: string
                description: | 
                  The person entity names mentioned in articles to filter by. 
                  Available only if NLP is enabled for your API key.
                example: "Elon Musk"
              LOC_entity_name:
                type: string
                description: | 
                  The location entity names mentioned in articles to filter by. 
                  Available only if NLP is enabled for your API key.
                example: "California"
              MISC_entity_name:
                type: string
                description: | 
                  The miscellaneous entity names mentioned in articles to filter by. 
                  Available only if NLP is enabled for your API key.
                example: "Bitcoin"
              title_sentiment_min:
                type: number
                minimum: -1
                maximum: 1
                description: | 
                  The minimum title sentiment score. Range is -1 to 1. 
                  Available only if NLP is enabled for your API key.
                example: -0.5
              title_sentiment_max:
                type: number
                minimum: -1
                maximum: 1
                description: | 
                  The maximum title sentiment score. Range is -1 to 1. 
                  Available only if NLP is enabled for your API key.
                example: 0.5
              content_sentiment_min:
                type: number
                minimum: -1
                maximum: 1
                description: | 
                  The minimum content sentiment score. Range is -1 to 1. 
                  Available only if NLP is enabled for your API key.
                example: -0.5
              content_sentiment_max:
                type: number
                minimum: -1
                maximum: 1
                description: | 
                  The maximum content sentiment score. Range is -1 to 1. 
                  Available only if NLP is enabled for your API key.
                example: 0.5
              iptc_tags:
                type: string
                description: | 
                  The IPTC tags to filter articles by. Only IPTC tag IDs can be used. 
                  Available only if tags are enabled for your API key.
                example: "20000188"
              not_iptc_tags:
                type: string
                description: | 
                  The IPTC tags to exclude articles by. Only IPTC tag IDs can be used. 
                  Available only if tags are enabled for your API key.
                example: "20000199"
              iab_tags:
                type: string
                description: | 
                  The IAB tags based on the content to filter articles. IAB tags refer to standardized categories used in online advertising to classify the content of web pages. Use these tags to include articles that match specific IAB categories.
                example: "IAB1, IAB2"
              not_iab_tags:
                type: string
                description: | 
                  The IAB tags to exclude articles based on their content. IAB tags refer to standardized categories used in online advertising to classify the content of web pages. Use these tags to exclude articles that match specific IAB categories.
                example: "IAB1, IAB2"
              exclude_duplicates:
                type: boolean
                description: | 
                  If true, excludes duplicate articles from the search results. 
                  If false, returns all relevant articles, including duplicates. 
                  To learn more, see Deduplicate Articles.
                example: true    

    SearchLinkRequestBody:
      description: Request body for searching articles based on specified article links or article IDs.
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - links
              - ids
            properties:
              links:
                type: string
                description: |
                  The article link or list of article links to search for.
                  For example: `https://example.com/article1`, `https://example.com/article2`.
                example: "https://example.com/article1,https://example.com/article2"
              ids:
                type: string
                description: |
                  The Newscatcher article ID (corresponds to the `_id` field in API response) or a list of article IDs to search for.
                  For example: `1234567890abcdef`, `abcdef1234567890`.
                example: "1234567890abcdef,abcdef1234567890"
              page:
                type: integer
                minimum: 1
                description: | 
                  The number of the page to scroll through the results. 
                  This parameter is used to paginate: scroll through results because one API response cannot return more than 1000 articles.
                example: 2
              page_size:
                type: integer
                minimum: 1
                maximum: 1000
                description: | 
                  The number of articles to return per page. 
                  Range: 1 to 1000.
                example: 50

    SearchSimilarRequestBody:
      description: Request body for searching similar articles based on specified criteria such as query, language, country, source, and more.
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              q:
                type: string
                description: |
                  The query string to search for similar articles.
                example: "climate change"
              search_in:
                type: string
                description: |
                  The fields to search within for the specified `q` parameter. Default is title_content.
                example: "title_content"
              include_similar_documents:
                type: boolean
                description: |
                  If true, includes similar documents in the response. Default: false.
                example: true
              similar_documents_number:
                type: integer
                description: |
                  The number of similar documents to return. Default: 5.
                example: 10
              similar_documents_fields:
                type: string
                description: |
                  The fields to consider for finding similar documents. Default: title,content.
                example: "title,summary"
              predefined_sources:
                type: string
                description: |
                  Use our TOP predefined sources per country. The format should be strictly like this:
                  - starting with the word "top"
                  - put the number of desired sources after "top"
                  - two-letter country code ISO 3166-1 alpha-2
                  For example:
                  - top 100 US
                  - top 33 AT
                  - top 5 GB
                  It is also possible to specify multiple countries with custom numbers of top sources, which should be comma-separated.
                  For example:
                  - top 100 US, GB
                  - top 33 AT, 55 IT.
                example: "top 100 US, top 5 GB"
              sources:
                type: string
                description: | 
                  One or more news sources to narrow down your search. The format should be a domain URL. 
                  Subdomains, like finance.yahoo.com, are also accepted. Use a comma-separated string or a list/array. 
                  For example, `nytimes.com`, `theguardian.com`, `finance.yahoo.com`.
                example: "nytimes.com,theguardian.com"
              not_sources:
                type: array
                items:
                  type: string
                description: | 
                  One or more sources to be excluded from the search. Comma-separated string or a list/array. 
                  For example, `cnn.com`, `wsj.com`.
                example: ["cnn.com", "wsj.com"]
              lang:
                type: string
                description: | 
                  The language(s) of the search. 
                  The only accepted format is the two-letter [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1) code.
                  To select multiple languages, use a comma-separated string (e.g., "en,es").
                example: "en,es"
              not_lang:
                type: string
                description: | 
                  The language(s) to exclude from the search. 
                  The accepted format is the two-letter [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1) code.
                  To exclude multiple languages, use a comma-separated string (e.g., "en,es").
                example: "en,es"
              countries:
                type: string
                description: | 
                  The countries where the news publisher is located. 
                  The accepted format is the two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.
                  To select multiple countries, use a comma-separated string (e.g., "US,CA").
                example: "US,CA"
              not_countries:
                type: string
                description: | 
                  The publisher location countries to exclude from the search. 
                  The accepted format is the two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.
                  To select multiple countries, use a comma-separated string (e.g., "US,CA").
                example: "US,CA"
              from_:
                type: string
                description: | 
                  The start point in time to search for. Defaults to the past week. 
                  Available formats:
                  - `YYYY/mm/dd`
                  - `YYYY/mm/dd HH:MM:SS`
                  - English phrases like `1 day ago.`
                example: "2021/01/01"
              to_:
                type: string
                description: | 
                  The end point in time to search for. The default timezone is UTC. 
                  Available formats:
                  - `YYYY/mm/dd`
                  - `YYYY/mm/dd HH:MM:SS`
                  - English phrases like `1 day ago.`
                example: "2021/12/31"
              by_parse_date:
                type: boolean
                description: | 
                  If true, transforms your `from_` and `to_` parameters to filter by parse_date instead of published_date. 
                  Be aware that a new variable `parse_date` will be added to the output list with each article. Default: false.
                example: true
              published_date_precision:
                type: string
                description: | 
                  The precision of the published date. There are three types:
                  - `full`: The day and time of an article is correctly identified with the appropriate timezone.
                  - `timezone unknown`: The day and time of an article is correctly identified without timezone.
                  - `date`: Only the day is identified without an exact time.
                example: "full"
              sort_by:
                type: string
                description: | 
                  The sorting order of the results. Possible values are:
                  - `relevancy` (default): The most relevant results first.
                  - `date`: The most recently published results first.
                  - `rank`: The results from the highest-ranked sources first.
                example: "date"
              ranked_only:
                type: boolean
                description: | 
                  If true, limits the search to sources ranked in the top 1 million online websites. 
                  If false, includes unranked sources which are assigned a rank of 999999. 
                  Default: true.
                example: true
              from_rank:
                type: integer
                description: | 
                  The lowest boundary of the rank of a news website to filter by. 
                  Range: 0 to 999999. 
                  Lower rank means that a source is more popular.
                example: 100
              to_rank:
                type: integer
                description: | 
                  The highest boundary of the rank of a news website to filter by. 
                  Range: 0 to 999999.
                example: 10000
              is_headline:
                type: boolean
                description: | 
                  If true, only returns articles that were posted on the home page of a given news domain.
                example: true
              is_opinion:
                type: boolean
                description: | 
                  If true, only returns articles that are determined to be opinion pieces.
                  If false, excludes opinion-based articles and returns news only.
                  Default: false.
                example: true
              is_paid_content:
                type: boolean
                description: | 
                  If false, only returns articles that publish fully publicly available content.
                  Some news publishers partially block content of their articles, so we get only several sentences from them.
                  This filter will help you get full content.
                example: false
              parent_url:
                type: array
                items:
                  type: string
                description: | 
                  One or more categorical URLs to filter your search. It should be the normal form of the URL. 
                  For example, `https://www.washingtonpost.com/politics`, `https://www.washingtonpost.com/technology`, `https://www.washingtonpost.com/business`.
                example: ["https://www.washingtonpost.com/politics", "https://www.washingtonpost.com/technology"]
              all_links:
                type: array
                items:
                  type: string
                description: | 
                  Search for desired URLs mentioned in the article. 
                  Please refer to the All Links And Domains Format page for more examples and explanations.
                example: ["https://example.com", "https://anotherexample.com"]
              all_domain_links:
                type: array
                items:
                  type: string
                description: | 
                  Search for desired domain URLs mentioned in the article. 
                  Please refer to the All Links And Domains Format page for more examples and explanations.
                example:
                  summary: Multiple domain URLs
                  value: ["example.com", "example2.com"]
              word_count_min:
                type: integer
                description: | 
                  The minimum number of words an article must contain. 
                  To be used for avoiding articles with small content.
                example: 300
              word_count_max:
                type: integer
                description: | 
                  The maximum number of words an article can contain. 
                  To be used for avoiding articles with large content.
                example: 1000
              page:
                type: integer
                description: | 
                  The page number to scroll through the results. 
[...]
