openapi: 3.1.0
info:
  title: NewsCatcher CatchAll API
  version: 1.1.2
  description: |
    CatchAll is a web search API that generates unique datasets that don't exist anywhere else on the web. Built on NewsCatcher's proprietary real-world event index, it delivers state-of-the-art recall—finding all relevant events, not just top results.

    ### Authentication

    All endpoints except /health and /version require `x-api-key` header. If the key is invalid or missing, the API returns the `403 Forbidden` error.

    ### Basic Workflow

    1. (Optional) Get suggestions via /catchAll/initialize
    2. Submit a query via /catchAll/submit with optional date ranges and custom validators/enrichments
    3. Poll /catchAll/status/{job_id} until completed (10-15 minutes)
    4. Retrieve results via /catchAll/pull/{job_id}

    ### Monitor workflow

    1. Create successful job via /catchAll/submit
    2. Create monitor via /catchAll/monitors/create with schedule
    3. Retrieve aggregated results via /catchAll/monitors/pull/{monitor_id}

    ### Important notes

    **Dynamic schemas**: Response schemas are generated dynamically by LLMs. Field names in the `enrichment` object may vary and are not deterministic across jobs.

  contact:
    name: NewsCatcher
    url: https://newscatcherapi.com
    email: support@newscatcherapi.com

externalDocs:
  description: Find out more about NewsCatcher CatchAll API
  url: https://www.newscatcherapi.com/docs/web-search-api/get-started/introduction

servers:
  - url: https://catchall.newscatcherapi.com
    description: Production server

tags:
  - name: Jobs
    description: Operations to create, monitor, and retrieve job results.
    externalDocs:
      description: Learn about job lifecycle and status tracking
      url: https://www.newscatcherapi.com/docs/web-search-api/get-started/quickstart
  - name: Monitors
    description: Operations to create, operate and retrieve monitor results.
    externalDocs:
      description:
        Automate recurring queries with scheduled jobs and webhook
        notifications.
      url: https://www.newscatcherapi.com/docs/web-search-api/guides-and-concepts/monitors
  - name: Meta
    description: Operations to check API health and version.

security:
  - ApiKeyAuth: []

paths:
  /catchAll/initialize:
    post:
      tags:
        - Jobs
      summary: Initialize job
      description:
        Get suggested validators, enrichments, and date ranges for a query.
      operationId: initialize
      externalDocs:
        description: Learn about validator and enrichment suggestions
        url: https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/initialize-job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitializeRequestDTO"
            example:
              query: "Series B funding rounds for SaaS startups"
              context: "Focus on funding amount and company name"
      responses:
        "200":
          $ref: "#/components/responses/InitializeResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/submit:
    post:
      tags:
        - Jobs
      summary: Create job
      description: Submit a query to create a new processing job.
      operationId: createJob
      externalDocs:
        description: Detailed documentation for job creation
        url: https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/create-job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitRequestDTO"
            example:
              query: "Series B funding rounds for SaaS startups"
              context: "Focus on funding amount and company name"
              start_date: "2026-02-18T00:00:00Z"
              end_date: "2026-02-23T00:00:00Z"
              limit: 10
              mode: "base"
      responses:
        "200":
          $ref: "#/components/responses/SubmitResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/continue:
    post:
      tags:
        - Jobs
      summary: Continue job
      description:
        Continue an existing job to process more records beyond the initial
        limit.
      operationId: continueJob
      externalDocs:
        description: Learn about job continuation and limits
        url: https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/continue-job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContinueRequestDTO"
            example:
              job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
              new_limit: 100
      responses:
        "200":
          $ref: "#/components/responses/ContinueResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/status/{job_id}:
    get:
      tags:
        - Jobs
      summary: Get job status
      description: Retrieve the current processing status of a job.
      operationId: getJobStatus
      externalDocs:
        description: Understanding job statuses and polling
        url: https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/get-job-status
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          $ref: "#/components/responses/StatusResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /catchAll/jobs/user:
    get:
      tags:
        - Jobs
      summary: List user jobs
      description: Returns all jobs created by the authenticated user.
      operationId: getUserJobs
      externalDocs:
        description: Learn about job management
        url: https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/list-user-jobs
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          $ref: "#/components/responses/ListUserJobsResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"

  /catchAll/pull/{job_id}:
    get:
      tags:
        - Jobs
      summary: Get job results
      description: Retrieve the final results for a completed job.
      operationId: getJobResults
      externalDocs:
        description: Working with job results and dynamic schemas
        url: https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/get-job-results
      parameters:
        - $ref: "#/components/parameters/JobId"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          $ref: "#/components/responses/PullJobResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /catchAll/monitors/create:
    post:
      tags:
        - Monitors
      summary: Create monitor
      description: Create a scheduled monitor based on a reference job.
      operationId: createMonitor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMonitorRequestDTO"
            example:
              reference_job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
              schedule: "every day at 12 PM UTC"
              backfill: true
              limit: 10
              webhook:
                url: "https://your-endpoint.com/webhook"
                method: "POST"
                headers:
                  Authorization: "Bearer your_token_here"
      responses:
        "200":
          $ref: "#/components/responses/CreateMonitorResponse"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/monitors/{monitor_id}:
    patch:
      tags:
        - Monitors
      summary: Update monitor
      description: Update the webhook configuration for an existing monitor.
      operationId: updateMonitor
      externalDocs:
        description: Learn about monitor configuration
        url: https://www.newscatcherapi.com/docs/web-search-api/how-to/configure-monitors
      parameters:
        - name: monitor_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Monitor identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMonitorRequestDTO"
            example:
              webhook:
                url: "https://new-endpoint.com/webhook"
                method: "POST"
                headers:
                  Authorization: "Bearer new_token_xyz"
      responses:
        "200":
          $ref: "#/components/responses/UpdateMonitorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/monitors/{monitor_id}/jobs:
    get:
      tags:
        - Monitors
      summary: List monitor jobs
      description: Return all jobs executed by a monitor.
      operationId: listMonitorJobs
      parameters:
        - name: monitor_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Monitor identifier.
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: ["asc", "desc"]
            default: "asc"
          description: Sort by start_date (asc or desc).
      responses:
        "200":
          $ref: "#/components/responses/ListMonitorJobsResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/monitors/pull/{monitor_id}:
    get:
      tags:
        - Monitors
      summary: Get monitor results
      description:
        Retrieve aggregated results from all jobs executed by a monitor.
      operationId: pullMonitorResults
      parameters:
        - name: monitor_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Monitor identifier.
      responses:
        "200":
          $ref: "#/components/responses/PullMonitorResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/monitors/{monitor_id}/disable:
    post:
      tags:
        - Monitors
      summary: Disable monitor
      description: Stop scheduled job execution for a monitor.
      operationId: disableMonitor
      parameters:
        - name: monitor_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Monitor identifier.
      responses:
        "200":
          description: Monitor disabled successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - message
                  - monitor_id
                properties:
                  success:
                    type: boolean
                    description: Whether the operation succeeded.
                    example: true
                  message:
                    type: string
                    description: Human-readable success message.
                    example: "Monitor disabled successfully."
                  monitor_id:
                    type: string
                    format: uuid
                    description: ID of the disabled monitor.
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/monitors/{monitor_id}/enable:
    post:
      tags:
        - Monitors
      summary: Enable monitor
      description: Resume scheduled job execution for a monitor.
      operationId: enableMonitor
      parameters:
        - name: monitor_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Monitor identifier.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnableMonitorRequestDTO"
            example:
              backfill: true
      responses:
        "200":
          description: Monitor enabled successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - message
                  - monitor_id
                properties:
                  success:
                    type: boolean
                    description: Whether the operation succeeded.
                    example: true
                  message:
                    type: string
                    description: Human-readable success message.
                    example: "Monitor enabled successfully."
                  monitor_id:
                    type: string
                    format: uuid
                    description: ID of the enabled monitor.
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/monitors:
    get:
      tags:
        - Monitors
      summary: List monitors
      description: Returns all monitors created by the authenticated user.
      operationId: listMonitors
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          $ref: "#/components/responses/ListMonitorsResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /health:
    get:
      tags:
        - Meta
      summary: Check health
      description: Check API availability.
      operationId: healthCheck
      security: []
      responses:
        "200":
          $ref: "#/components/responses/HealthCheckResponse"

  /version:
    get:
      tags:
        - Meta
      summary: Get version
      description: Returns current API version.
      operationId: getVersion
      security: []
      responses:
        "200":
          $ref: "#/components/responses/VersionResponse"

components:
  parameters:
    JobId:
      name: job_id
      in: path
      required: true
      description: |
        Unique job identifier returned from [`POST /catchAll/submit`](https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/create-job).
      schema:
        type: string
        format: uuid
      example: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"

    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
        minimum: 1
      description: |
        Page number to retrieve.

    PageSize:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
        default: 100
        minimum: 1
        maximum: 1000
      description: |
        Number of records per page.

  responses:
    InitializeResponse:
      description: Suggestions retrieved successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/InitializeResponseDTO"
          example:
            query: "Series B funding rounds for SaaS startups"
            context: "Focus on funding amount and company name"
            validators:
              - name: "is_series_b_funding"
                description:
                  "true if the web page describes a Series B funding round"
                type: "boolean"
              - name: "is_saas_startup"
                description:
                  "true if the company receiving funding is a SaaS startup"
                type: "boolean"
            enrichments:
              - name: "funding_amount"
                description:
                  "Extract the amount of funding received in the Series B round"
                type: "number"
              - name: "investee_company"
                description:
                  "Extract the name of the SaaS startup receiving the funding"
                type: "company"
              - name: "investor_company"
                description: "Extract the name of the lead investor"
                type: "company"
              - name: "funding_date"
                description:
                  "Extract the date when the funding round was announced"
                type: "date"
            start_date: "2026-02-19T00:00:00Z"
            end_date: "2026-02-24T00:00:00Z"
            date_modification_message:
              - "No dates were provided; using a default window of 5 days."

    SubmitResponse:
      description: Job created successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SubmitResponseDTO"
          example:
            job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"

    ContinueResponse:
      description: Job continuation accepted
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ContinueResponseDTO"
          example:
            job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
            previous_limit: 10
            new_limit: 100
            status: "accepted"

    StatusResponse:
      description: Status retrieved successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/StatusResponseDTO"
          example:
            job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
            status: "completed"
            steps:
              - status: "submitted"
                order: 1
                completed: true
              - status: "analyzing"
                order: 2
                completed: true
              - status: "fetching"
                order: 3
                completed: true
              - status: "clustering"
                order: 4
                completed: true
              - status: "enriching"
                order: 5
                completed: true
              - status: "completed"
                order: 6
                completed: true
              - status: "failed"
                order: 7
                completed: false

    ListUserJobsResponse:
      description: User jobs retrieved successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListUserJobsResponseDto"
          example:
            total: 27
            page: 1
            page_size: 2
            total_pages: 14
            jobs:
              - job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
                query: "Series B funding rounds for SaaS startups"
                created_at: "2026-02-24T13:57:56Z"
                status: "completed"
              - job_id: "8d618890-f9f5-4c97-af17-236136a306a7"
                query: "Corporate headquarters relocations in the US"
                created_at: "2026-02-18T20:25:20Z"
                status: "completed"

    PullJobResponse:
      description: Results retrieved successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PullJobResponseDTO"
          example:
            job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
            query: "Series B funding rounds for SaaS startups"
            context: "Focus on funding amount and company name"
            validators: []
            enrichments: []
            status: "completed"
            error: null
            duration: "1m"
            candidate_records: 4
            valid_records: 3
            progress_validated: 4
            date_range:
              start_date: "2026-02-18T00:00:00Z"
              end_date: "2026-02-23T00:00:00Z"
            page: 1
            page_size: 2
            total_pages: 2
            limit: 10
            mode: "base"
            all_records:
              - record_id: "6983973854314692457"
                record_title: "VulnCheck Raises $25M Series B Funding"
                enrichment:
                  enrichment_confidence: "high"
                  funding_amount: 25000000
                  funding_currency: "USD"
                  funding_date: "2026-02-17"
                  investee_company:
                    source_text: "VulnCheck"
                    confidence: 0.99
                    metadata:
                      name: "VulnCheck"
                      domain_url: "vulncheck.com"
                      domain_url_confidence: "high"
                  investor_company:
                    source_text: "Sorenson Capital"
                    confidence: 0.99
                    metadata:
                      name: "Sorenson Capital"
                      domain_url: null
                      domain_url_confidence: null
                citations:
                  - title: "VulnCheck raises $25M Series B"
                    link: "https://www.msn.com/en-us/money/other/exclusive-vulncheck-raises-25m-funding-to-help-companies-patch-software-bugs/ar-AA1WwdjW"
                    published_date: "2026-02-17T14:01:05Z"

    CreateMonitorResponse:
      description: Monitor created successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateMonitorResponseDTO"
          example:
            monitor_id: "7f3a8b2c-1e4d-4a5b-9c8d-6e7f8a9b0c1d"
            status: "Monitor Created Successfully"

    UpdateMonitorResponse:
      description: Monitor updated successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateMonitorResponseDTO"
          example:
            monitor_id: "3fec5b07-8786-46d7-9486-d43ff67eccd4"
            status: "Monitor updated Successfully"

    ListMonitorJobsResponse:
      description: List of monitor jobs
      content:
        application/json:
          schema:
            type: object
            required:
              - monitor_id
              - sort_order
              - total_jobs
              - jobs
            properties:
              monitor_id:
                type: string
                format: uuid
                description: Monitor identifier.
              sort_order:
                type: string
                enum: ["asc", "desc"]
                description: Sort order applied to results.
              total_jobs:
                type: integer
                description: Total number of jobs for this monitor.
              jobs:
                type: array
                items:
                  $ref: "#/components/schemas/MonitorJobItem"
                description: Array of job executions for this monitor.

    PullMonitorResponse:
      description: Monitor results retrieved successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PullMonitorResponseDTO"

    ListMonitorsResponse:
      description: List of user monitors
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListMonitorsResponseDTO"
          example:
            total: 3
            page: 1
            page_size: 100
            total_pages: 1
            monitors:
              - monitor_id: "7f3a8b2c-1e4d-4a5b-9c8d-6e7f8a9b0c1d"
                reference_job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
                reference_job_query: "Series B funding rounds for SaaS startups"
                enabled: true
                schedule: "0 12 * * *"
                schedule_human_readable: "Every day at 12 PM"
                timezone: "UTC"
                created_at: "2026-02-24T14:00:00Z"

    HealthCheckResponse:
      description: API is healthy
      content:
        application/json:
          schema:
            type: object
            properties:
              healthy:
                type: boolean
                example: true

    VersionResponse:
      description: API version
      content:
        application/json:
          schema:
            type: object
            properties:
              version:
                type: string
                example: "1.1.2"

    BadRequestError:
      description: |
        Bad request - invalid parameters or constraint violations.

        Common causes: date ranges outside plan limits, invalid job state for continuation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            date_validation:
              summary: Date outside plan limit
              value:
                detail:
                  "start_date must be >= 2025-02-05, your plan limited to
                  lookback 365 days."
            invalid_continuation:
              summary: Invalid job continuation
              value:
                detail:
                  "New limit must be greater than the previous limit for this
                  job."

    ForbiddenError:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            detail: "Invalid API key"

    NotFoundError:
      description: Job/monitor not found or results not available
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationErrorResponse"

  schemas:
    Query:
      type: string
      description: |
        Plain text question describing what to find.

        The system analyzes your input to generate search queries, validators, and extractors. More specific queries produce more focused results.

      example: "Series B funding rounds for SaaS startups"

    Context:
      type: string
      description: |
        Additional context to focus on specific aspects of your query.
      example: "Focus on funding amount and company name"

    Limit:
      type: integer
      minimum: 10
      description: |
        Maximum number of records to return. If not specified, defaults to your plan limit.

        Use [`POST /catchAll/continue`](https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/continue-job) to extend the limit after job completion without reprocessing.
      example: 10

    StartDate:
      type: string
      format: date-time
      description: |
        Start date for web search (ISO 8601 format with UTC timezone).

        Defines the start of the search window by web page discovery date, not event date. Web pages discovered within this range may describe events from any time period.

        Must be within plan's allowed search depth. Default is 5 days before current date if not specified.
      example: "2026-01-30T00:00:00Z"

    EndDate:
      type: string
      format: date-time
      description: |
        End date for web search (ISO 8601 format with UTC timezone).

        Defines the end of the search window by web page discovery date, not event date. Web pages discovered within this range may describe events from any time period.

        Must be within plan's allowed search depth and after start_date. Default is current date if not specified.
      example: "2026-02-05T00:00:00Z"

    ValidatorSchema:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          description: Validator field name (snake_case recommended).
          example: "is_series_b_funding"
        description:
          type: string
          description: What this validator checks for in the web page.
          example: "true if the web page describes a Series B funding round"
        type:
          type: string
          enum: ["boolean"]
          default: "boolean"
          description: Validator type (currently only boolean supported).
      description: |
        Schema for a single validator that filters clusters of web pages.

        Validators are applied during the enriching stage to determine which clusters are relevant.

    EnrichmentType:
      type: string
      enum:
        - text
        - number
        - date
        - option
        - url
        - company
      description: |
        Canonical enrichment types supported by the system.

        - `text`: Free-form text strings (names, descriptions, summaries)
        - `number`: Numeric values (amounts, counts, percentages)
        - `date`: ISO format dates (YYYY-MM-DD)
        - `option`: Enum-like fixed values (status, category)
        - `url`: Web URLs
        - `company`: Structured company data. Returns `source_text`, `confidence`, and `metadata`. See [Company enrichment](https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/company-enrichment-dto) data model.

    EnrichmentSchema:
      type: object
      required:
        - name
        - description
        - type
      properties:
        name:
          type: string
          description: Enrichment field name (snake_case recommended).
          example: "investee_company"
        description:
          type: string
          description: What information this field extracts.
          example: "Extract the name of the SaaS startup receiving the funding"
        type:
          $ref: "#/components/schemas/EnrichmentType"
      description: |
        Schema for a single enrichment field that extracts structured data.

        Enrichments are applied during the enriching stage to extract information from validated clusters.

    CompanyEnrichmentOutput:
      type: object
      description: |
        Appears as the value of company-typed fields in the `enrichment` object of each record. The `metadata` sub-object is populated by the system based on the identified company.
      required:
        - source_text
        - confidence
        - metadata
      properties:
        source_text:
          type: string
          description:
            The text span in the source document where the company was
            identified.
          example: "Sorenson Capital"
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Confidence score for the company identification.
          example: 0.99
        metadata:
          type: object
          required:
            - name
          properties:
            name:
              type: string
              description: Normalized company name.
              example: "Sorenson Capital"
            domain_url:
              type: [string, "null"]
              description: Company website domain if resolved, otherwise null.
              example: "vulncheck.com"
            domain_url_confidence:
              type: [string, "null"]
              enum: ["low", "medium", "high", null]
              description: Confidence level for the domain URL resolution.
              example: "high"

    InitializeRequestDTO:
      type: object
      required:
        - query
      properties:
        query:
          $ref: "#/components/schemas/Query"
        context:
          $ref: "#/components/schemas/Context"
      description:
        Request to get validator, enrichment, and date range suggestions for a
        query.

    InitializeResponseDTO:
      type: object
      required:
        - query
        - validators
        - enrichments
      properties:
        query:
          type: string
          description: Echo of the query from the request.
          example: "Series B funding rounds for SaaS startups"
        context:
          type: [string, "null"]
          description:
            Echo of the context from the request. Null if not provided.
          example: "Focus on funding amount and company name"
        validators:
          type: array
          items:
            $ref: "#/components/schemas/ValidatorSchema"
          description: Suggested validators for filtering relevant web pages.
          minItems: 0
        enrichments:
          type: array
          items:
            $ref: "#/components/schemas/EnrichmentSchema"
          description: Suggested enrichment fields for data extraction.
          minItems: 0
        start_date:
          $ref: "#/components/schemas/StartDate"
        end_date:
          $ref: "#/components/schemas/EndDate"
        date_modification_message:
          type: array
          items:
            type: string
          description: |
            Messages explaining date adjustments due to plan limits.

            Empty array if no modifications were needed. Contains human-readable messages when requested dates exceed plan's allowed lookback period.
          default: []
          example:
            - "start_date must be >= 2025-01-23, your plan limited to lookback
              365 days; we modified start_date to 2025-01-23."

    SubmitRequestDTO:
      type: object
      required:
        - query
      properties:
        query:
          $ref: "#/components/schemas/Query"
        context:
          $ref: "#/components/schemas/Context"
        limit:
          $ref: "#/components/schemas/Limit"
        start_date:
          $ref: "#/components/schemas/StartDate"
        end_date:
          $ref: "#/components/schemas/EndDate"
        validators:
          type: array
          items:
            $ref: "#/components/schemas/ValidatorSchema"
          description: |
            Custom validators for filtering web page clusters.

            If not provided, validators are generated automatically based on the query.
        enrichments:
          type: array
          items:
            $ref: "#/components/schemas/EnrichmentSchema"
          description: |
            Custom enrichment fields for data extraction.

            If not provided, enrichments are generated automatically based on the query.
        mode:
          type: string
          enum: ["lite", "base"]
          default: "base"
          description: |
            Job processing mode.

            - `base`: Full pipeline with validation and enrichment.
            - `lite`: Lightweight extraction with faster processing. Returns titles and citations only.

    SubmitResponseDTO:
      type: object
      required:
        - job_id
      properties:
        job_id:
          type: string
          format: uuid
          description:
            Unique identifier for the created job. Use this to check status and
            retrieve results.
          example: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"

    ContinueRequestDTO:
      type: object
      required:
        - job_id
      properties:
        job_id:
          type: string
          format: uuid
          description: |
            Job identifier of the completed job to continue.
          example: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
        new_limit:
          type: integer
          description: |
            New record limit for continued processing. Must be greater than the previous limit. If not provided, defaults to the plan maximum.
          example: 100

    ContinueResponseDTO:
      type: object
      required:
        - job_id
        - new_limit
        - status
      properties:
        job_id:
          type: string
          format: uuid
          description: Job identifier for the continued job.
          example: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
        previous_limit:
          type: integer
          description: Previous record limit before continuation.
          example: 10
        new_limit:
          type: integer
          description: New record limit after continuation.
          example: 100
        status:
          type: string
          description: Confirmation that the continuation request was accepted.
          default: "accepted"
          example: "accepted"

    PublicJobStatus:
      type: string
      enum:
        - submitted
        - analyzing
        - fetching
        - clustering
        - enriching
        - completed
        - failed
      description: |
        Current job processing status. Jobs progress through these stages:

        - `submitted`: Job queued, waiting to start processing.
        - `analyzing`: Extracting keywords, generating search queries, and creating validators/extractors.
        - `fetching`: Retrieving web pages.
        - `clustering`: Grouping similar web pages into clusters.
        - `enriching`: Validating clusters and extracting structured data.
        - `completed`: Job finished successfully, results ready.
        - `failed`: Job processing failed.

        Poll `/catchAll/status/{job_id}` every 30-60 seconds until status is `completed` (typically 10-15 minutes).
      example: "fetching"

    JobStep:
      type: object
      required:
        - status
        - order
        - completed
      properties:
        status:
          $ref: "#/components/schemas/PublicJobStatus"
        order:
          type: integer
          description: Sequential position of this step in the pipeline (1-7).
          minimum: 1
          maximum: 7
          example: 2
        completed:
          type: boolean
          default: false
          description: Whether this step has finished processing.

    StatusResponseDTO:
      type: object
      required:
        - job_id
      properties:
        job_id:
          type: string
          format: uuid
          description: Job identifier.
          example: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
        status:
          allOf:
            - $ref: "#/components/schemas/PublicJobStatus"
          description: Current job processing status.
        steps:
          type: array
          items:
            $ref: "#/components/schemas/JobStep"
          description: |
            Detailed progress tracking for each processing stage. Steps progress sequentially from order 1 (submitted) through 5 (enriching), ending at order 6 (completed) or 7 (failed).

    ListUserJobsResponseDto:
      type: object
      required:
        - total
        - page
        - page_size
        - total_pages
        - jobs
      properties:
        total:
          type: integer
          description: Total number of jobs for this user.
          example: 47
        page:
          type: integer
          description: Current page number.
          example: 1
        page_size:
          type: integer
          description: Number of jobs per page.
          example: 10
        total_pages:
          type: integer
          description: Total number of pages available.
          example: 5
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/UserJob"
          description: Array of user jobs on this page.

    UserJob:
      type: object
      required:
        - job_id
        - query
        - created_at
        - status
      properties:
        job_id:
          type: string
          format: uuid
          description: Job identifier.
          example: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
        query:
          type: string
          description: Plain text query for this job.
          example: "Series B funding rounds for SaaS startups"
        created_at:
          type: string
          format: date-time
          description: Job creation timestamp in ISO 8601 format.
          example: "2026-02-01T14:30:00Z"
        status:
          type: string
          description: Current processing status of the job.
          example: "completed"
        mode:
          type: string
          enum: ["lite", "base"]
          default: "base"
          description: Processing mode used for this job.
          example: "base"

    PullJobResponseDTO:
      type: object
      required:
        - job_id
      properties:
        job_id:
          type: string
          format: uuid
          description: Job identifier.
        query:
          type: string
          description: Original plain text query.
          example: "Series B funding rounds for SaaS startups"
        context:
          type: string
          description: Context provided with the query.
          example: "Focus on funding amount and company name"
        validators:
          type: array
          items:
            type: object
          description: Validators applied to filter results.
          default: []
          example: []
        enrichments:
          type: array
          items:
            type: object
          description: Enrichment fields used for data extraction.
          default: []
          example: []
        status:
          type: string
          description: |
            Job status.
          example: "completed"
        error:
          type: [string, "null"]
          description:
            Error message if the job failed. Null for successful jobs.
        limit:
          type: integer
          description:
            Record limit for this job. Reflects the value specified at submit
            time, or the plan default if no limit was provided.
          example: 100
        duration:
          type: string
          description: Total time taken to process the job.
          example: "1m"
        candidate_records:
          type: integer
          description:
            Total number of distinct event clusters identified. Compare with
            `progress_validated` to estimate how many candidates remain
            unprocessed for job continuation.
          example: 4
        valid_records:
          type: integer
          description: Number of validated records extracted.
          example: 3
        progress_validated:
          type: ["integer", "null"]
          description: |
            Number of candidate clusters that have been validated during processing.

            The system process data in batches. This field tracks how many `candidate_records` have been checked against validation criteria so far.
          example: 4
        date_range:
          type: object
          properties:
            start_date:
              type: string
              format: date-time
              example: "2026-02-17T00:00:00Z"
            end_date:
              type: string
              format: date-time
              example: "2026-02-24T00:00:00Z"
        page:
          type: integer
          minimum: 1
          default: 1
          description: The current page number.
        page_size:
          type: integer
          minimum: 1
          default: 10
          description: The number of records per page.
        total_pages:
          type: integer
          minimum: 0
          default: 0
          description: The total number of pages available.
        mode:
          type: string
          enum: ["lite", "base"]
          default: "base"
          description: Processing mode used for this job.
          example: "base"
        all_records:
          type: array
          items:
            $ref: "#/components/schemas/Record"
          description:
            Array of extracted records with structured data and citations.

    BaseRecord:
      type: object
      required:
        - record_id
        - record_title
        - enrichment
      properties:
        record_id:
          type: string
          description: Unique identifier for the record.
          example: "6983973854314692457"
        record_title:
          type: string
          description: Short title summarizing the record.
          example: "VulnCheck Raises $25M Series B Funding"
        enrichment:
          type: object
          description: |
            Structured data extracted from web pages. Schema is dynamically generated per job. Field names are chosen semantically to match the content.

            **Note:** The system always includes the `enrichment_confidence` field within the `enrichment` object, regardless of whether enrichments are generated or specified by you.

             For integration guidance, see [Dynamic schemas](https://www.newscatcherapi.com/docs/web-search-api/guides-and-concepts/dynamic-schemas)
          properties:
            enrichment_confidence:
              type: ["string", "null"]
              enum: ["low", "medium", "high", null]
              description:
                Overall confidence score for the enrichment extraction.
              example: "high"
          additionalProperties: {}
          example:
            enrichment_confidence: "high"
            funding_amount: 25000000
            funding_currency: "USD"
            funding_date: "2026-02-17"
            investee_company:
              source_text: "VulnCheck"
              confidence: 0.99
              metadata:
                name: "VulnCheck"
                domain_url: "vulncheck.com"
                domain_url_confidence: "high"
            investor_company:
              source_text: "Sorenson Capital"
              confidence: 0.99
              metadata:
                name: "Sorenson Capital"
                domain_url: null
                domain_url_confidence: null
            valuation: 25000000
            other_investors:
              "National Grid Partners, Ten Eleven Ventures, In-Q-Tel"

    Record:
      allOf:
        - $ref: "#/components/schemas/BaseRecord"
        - type: object
          required:
            - citations
          properties:
            citations:
              type: array
              items:
                $ref: "#/components/schemas/Citation"
              description:
                Source documents that were used to extract this record.

    Citation:
      type: object
      required:
        - title
        - link
        - published_date
      properties:
        title:
          type: string
          description: The title of the source document.
          example:
            "Exclusive: VulnCheck raises $25M funding to help companies patch
            software bugs"
        link:
          type: string
          format: uri
          description: URL to the source document.
          example: "https://www.msn.com/en-us/money/other/exclusive-vulncheck-raises-25m-funding-to-help-companies-patch-software-bugs/ar-AA1WwdjW"
        published_date:
          type: string
          format: date-time
          description:
            The publication date of the source document in ISO 8601 format (UTC
            timezone).
          example: "2026-02-17T14:01:05Z"

    MonitorCitation:
      allOf:
        - $ref: "#/components/schemas/Citation"
        - type: object
          required:
            - id
            - job_id
            - added_on
          properties:
            id:
              type: string
              description:
                Unique identifier of the document in the search index.
              example: "8760624448e9815f9fb4abd114c75e76"
            job_id:
              type: string
              format: uuid
              description: Job ID that found this citation.
              example: "6269aa54-c332-4fff-8a65-0d4e82a365e8"
            added_on:
              type: string
              format: date-time
              description:
                The date when the citation was added to the record in ISO 8601
                format with UTC timezone.
              example: "2025-11-14T21:00:00Z"
      description: |
        Citation with monitor-specific metadata. Used in monitor results and webhook payloads.
        Extends base citation with tracking information for job_id and timestamps.

    MonitorRecord:
      allOf:
        - $ref: "#/components/schemas/BaseRecord"
        - type: object
          required:
            - citations
          properties:
            citations:
              type: array
              items:
                $ref: "#/components/schemas/MonitorCitation"
              description:
                Source documents with monitor-specific metadata (job_id,
                added_on timestamps).
            added_on:
              type: string
              format: date-time
              description:
                The date when this record was first added to monitor results in
                ISO 8601 format with UTC timezone.
              example: "2025-11-14T21:00:00Z"
            updated_on:
              type: string
              format: date-time
              description:
                The date when this record was last updated in monitor results in
                ISO 8601 format with UTC timezone.
              example: "2025-11-14T21:00:00Z"
      description: |
        Record with monitor-specific metadata. Used in monitor results and webhook payloads.
        Includes timestamps tracking when records were added and updated, and citations include job tracking.

    CreateMonitorRequestDTO:
      type: object
      required:
        - reference_job_id
        - schedule
      properties:
        reference_job_id:
          type: string
          format: uuid
          description: |
            Job ID to use as template for scheduled runs. Defines the query, validators, and enrichments used for each scheduled run.

            If [`backfill`](https://www.newscatcherapi.com/docs/web-search-api/api-reference/monitors/create-monitor#body-backfill) is true, the job's `end_date` must be within the last 7 days.
        schedule:
          type: string
          description: |
            Monitor schedule in plain text format (e.g. 'every day at 12 PM UTC', 'every 48 hours').

            Minimum frequency depends on your plan.
          example: "every day at 12 PM UTC"
        webhook:
          $ref: "#/components/schemas/WebhookDTO"
          description:
            Optional webhook to receive notifications when jobs complete.
        limit:
          type: integer
          minimum: 10
          description: |
            Maximum number of records per monitor run. If not provided, defaults to the plan limit.
        backfill:
          type: boolean
          default: true
          description: |
            If true, fills the data gap between the reference job's `end_date` and the first scheduled run. The reference job's `end_date` must be within the last 7 days. 

            If false, no gap filling occurs and the first run uses the current cron window only — the reference job's age does not matter.

    WebhookDTO:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: Webhook endpoint URL.
        method:
          type: string
          enum: ["POST", "PUT"]
          default: "POST"
          description: HTTP method to use.
        headers:
          type: object
          additionalProperties:
            type: string
          description: HTTP headers to include in request.
        params:
          type: object
          description: Query string parameters.
        auth:
          type: array
          items:
            type: string
          minItems: 2
          maxItems: 2
          description: Basic auth credentials [username, password].

    CreateMonitorResponseDTO:
      type: object
      required:
        - status
      properties:
        monitor_id:
          type: [string, "null"]
          format: uuid
          description: Monitor ID if successful, null if error.
        status:
          type: string
          description: Creation status or error message
          example: "Monitor Created Successfully"

    UpdateMonitorRequestDTO:
      type: object
      properties:
        webhook:
          $ref: "#/components/schemas/WebhookDTO"
          description: |
            Updated webhook configuration.
        limit:
          type: integer
          minimum: 10
          description: |
            Updated maximum number of records per monitor run.

    UpdateMonitorResponseDTO:
      type: object
      required:
        - monitor_id
        - status
      properties:
        monitor_id:
          type: string
          format: uuid
          description: Monitor identifier.
          example: "3fec5b07-8786-46d7-9486-d43ff67eccd4"
        status:
          type: string
          description: Confirmation message.
          default: "Monitor updated Successfully"
          example: "Monitor updated Successfully"

    ReferenceJob:
      type: object
      properties:
        query:
          type: string
          description: Plain text query from the reference job.
          example: "Series B funding rounds for SaaS startups"
        context:
          type: string
          description: Context provided with the reference job query.
          example: "Focus on funding amount and company name"

    PullMonitorResponseDTO:
      type: object
      required:
        - monitor_id
        - reference_job
        - status
      properties:
        monitor_id:
          type: string
          format: uuid
          description: Unique identifier for the monitor.
          example: "7f3a8b2c-1e4d-4a5b-9c8d-6e7f8a9b0c1d"
        cron_expression:
          type: string
          description: |
            The cron expression for a monitor schedule parsed from the text schedule you provide.

            Standard cron format (minute hour day month day-of-week).
          example: "0 12 * * *"
        timezone:
          type: string
          description: Timezone used for schedule execution.
          example: "UTC"
        reference_job:
          $ref: "#/components/schemas/ReferenceJob"
        run_info:
          type: object
          description: Execution time range for this monitor.
          properties:
            first_run:
              type: string
              format: date-time
              description: Timestamp of the first job execution.
              example: "2025-10-23T12:00:00Z"
            last_run:
              type: string
              format: date-time
              description: Timestamp of the most recent job execution.
              example: "2025-11-07T12:00:00Z"
        records:
          type: integer
          default: 0
          description:
            Total number of records collected across all monitor jobs.
          example: 487
        status:
          type: string
          description:
            Current monitor status or error message if monitor creation failed.
          example: "Done"
        all_records:
          type: array
          items:
            $ref: "#/components/schemas/MonitorRecord"
          description: |
            Aggregated records from all jobs executed by this monitor. Each record includes structured data extracted from web sources with citations.
        limit:
          type: ["integer", "null"]
          description: Record limit applied to this monitor's jobs.
          example: 100

    ListMonitorsResponseDTO:
      type: object
      required:
        - total
        - page
        - page_size
        - total_pages
        - monitors
      properties:
        total:
          type: integer
          description: Total number of monitors for this user.
          example: 3
        page:
          type: integer
          description: Current page number.
          example: 1
        page_size:
          type: integer
          description: Number of monitors per page.
          example: 100
        total_pages:
          type: integer
          description: Total number of pages available.
          example: 1
        monitors:
          type: array
          items:
            $ref: "#/components/schemas/MonitorListItemDTO"
          description: Array of monitor summaries.

    MonitorListItemDTO:
      type: object
      required:
        - monitor_id
        - reference_job_id
        - reference_job_query
        - enabled
      properties:
        monitor_id:
          type: string
          format: uuid
          description: Monitor identifier.
          example: "7f3a8b2c-1e4d-4a5b-9c8d-6e7f8a9b0c1d"
        reference_job_id:
          type: string
          format: uuid
          description: Job identifier used as a reference for this monitor.
          example: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
        reference_job_query:
          type: string
          description: Plain text query from the reference job.
          example: "Series B funding rounds for SaaS startups"
        enabled:
          type: boolean
          description: Whether the monitor is currently active.
          example: true
        schedule:
          type: string
          description: Cron expression for monitor schedule.
          example: "0 12 * * *"
        schedule_human_readable:
          type: string
          description: The monitor schedule in a plain text format.
          example: "Every 24 hours"
        timezone:
          type: string
          description: Timezone for schedule execution.
          example: "UTC"
        created_at:
          type: string
          format: date-time
          description: The date when the monitor was created.
          example: "2025-10-23T14:30:00Z"
        webhook:
          $ref: "#/components/schemas/WebhookDTO"
          description: Webhook configuration for this monitor (if set).

    WebhookPayload:
      type: object
      description: |
        **First execution:** The initial webhook after monitor creation includes all records from the reference job, providing immediate access to collected data.

        **Subsequent executions:** Only new records (after deduplication) are included.
      properties:
        monitor_id:
          type: string
          format: uuid
          description: Monitor identifier.
        reference_job_id:
          type: string
          format: uuid
          description: Reference job used as template for this monitor.
        latest_job_id:
          type: string
          format: uuid
          description: Job ID of the most recent execution.
        records_count:
          type: integer
          description:
            Number of new records from latest job (after deduplication).
        jobs_processed:
          type: integer
          description: Total number of jobs executed by this monitor.
        updated_at:
          type: string
          format: date-time
          description:
            The date when the webhook was triggered in ISO 8601 format with UTC
            timezone.
          example: "2025-11-15T06:01:57Z"
        cron_expression:
          type: string
          description: Cron expression defining the monitor schedule.
        timezone:
          type: string
          description: Timezone for schedule execution.
        records:
          type: array
          items:
            $ref: "#/components/schemas/MonitorRecord"
          description:
            Array of new records from the latest job execution (includes
            monitor-specific fields like added_on, updated_on).

    MonitorJobItem:
      type: object
      required:
        - job_id
        - start_date
        - end_date
      properties:
        job_id:
          type: string
          format: uuid
          description: Unique identifier for this job execution.
        start_date:
          type: string
          format: date-time
          description:
            Start of the data collection time window for this job execution
            (based on monitor schedule) in ISO 8601 format with UTC timezone.
          example: "2025-11-14T21:00:00Z"
        end_date:
          type: string
          format: date-time
          description:
            End of the data collection time window for this job execution (based
            on monitor schedule) in ISO 8601 format with UTC timezone.
          example: "2025-11-15T00:00:00Z"

    EnableMonitorRequestDTO:
      type: object
      description: Optional request body for enabling a monitor.
      properties:
        backfill:
          type: boolean
          default: true
          description: |
            If true, fills the data gap between the last job's `end_date` and the first scheduled run after enabling. The last job's `end_date` must be within the last 7 days. 

            If false, no gap filling occurs and the first run uses the current cron window only — the last job's age does not matter.

    Error:
      type: object
      properties:
        detail:
          type: string
          description: Error message.
          example: "Invalid API key"

    ValidationErrorDetail:
      type: object
      properties:
        loc:
          type: array
          items:
            oneOf:
              - type: string
              - type: integer
          description: Location of the validation error
        msg:
          type: string
          description: Error message
        type:
          type: string
          description: Error type

    ValidationErrorResponse:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: "#/components/schemas/ValidationErrorDetail"

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for authentication.
