openapi: 3.1.0
info:
  title: NewsCatcher CatchAll API
  version: 1.6.1
  description: |
    CatchAll is a web search API that generates unique datasets that don't exist anywhere else on the web. Built on NewsCatcher's proprietary real-world event index, it delivers state-of-the-art recall—finding all relevant events, not just top results.

    ### Authentication

    All endpoints except /health and /version require `x-api-key` header. If the key is invalid or missing, the API returns the `403 Forbidden` error.

    ### Job workflow

    1. (Optional) Get suggestions via /catchAll/initialize
    2. Submit a query via /catchAll/submit with optional date ranges and custom validators/enrichments
    3. Poll /catchAll/status/{job_id} until completed (10-15 minutes)
    4. Retrieve results via /catchAll/pull/{job_id}

    ### Monitor workflow

    1. Create successful job via /catchAll/submit
    2. Create monitor via /catchAll/monitors/create with schedule
    3. Retrieve aggregated results via /catchAll/monitors/pull/{monitor_id}

    ### Webhook workflow

    1. Create a webhook via `POST /catchAll/webhooks`
    2. Attach it to a job or monitor via `POST /catchAll/webhooks/{webhook_id}/resources`,
       or pass `webhook_ids` at job or monitor creation time
    3. Receive HTTP notifications at the configured URL when each job completes

    ### Company search workflow

    1. Create a dataset via `POST /catchAll/datasets/` or `POST /catchAll/datasets/upload`
    2. Wait for the dataset `latest_status` to reach `ready`
    3. Submit a job with `connected_dataset_ids` pointing to your dataset
    4. Retrieve results — each record includes a `connected_entities` array
       with relevance scores per matched company

    ### Important notes

    **Dynamic schemas**: Response schemas are generated dynamically by LLMs. Field names in the `enrichment` object may vary and are not deterministic across jobs unless explicitly specified.

  contact:
    name: NewsCatcher
    url: https://newscatcherapi.com
    email: support@newscatcherapi.com

externalDocs:
  description: Find out more about NewsCatcher CatchAll API
  url: https://www.newscatcherapi.com/docs/web-search-api/get-started/introduction

servers:
  - url: https://catchall.newscatcherapi.com
    description: Production server

tags:
  - name: Jobs
    description: Operations to create, monitor, and retrieve job results.
    externalDocs:
      description: Learn about job lifecycle and status tracking
      url: https://www.newscatcherapi.com/docs/web-search-api/get-started/quickstart
  - name: Monitors
    description: Operations to create, operate and retrieve monitor results.
    externalDocs:
      description:
        Automate recurring queries with scheduled jobs and webhook
        notifications.
      url: https://www.newscatcherapi.com/docs/web-search-api/guides-and-concepts/monitors
  - name: Webhooks
    description: |
      Operations to create and manage reusable webhook endpoints.

      A webhook is a named HTTP endpoint that receives a POST notification
      when a job or monitor completes. Create webhooks once at the organization
      level and attach them to any number of jobs or monitors via `webhook_ids`.
      Supports Slack, Microsoft Teams, and generic HTTP targets with configurable
      delivery modes, authentication, and headers.
    externalDocs:
      description: Learn about centralized webhooks and notification setup
      url: https://www.newscatcherapi.com/docs/web-search-api/guides-and-concepts/webhooks
  - name: Entities
    description: |
      Operations to create, update, and delete company entities.

      Entities are the building blocks of Company Watchlist. Each entity represents
      a company (or person) you want to track. Add identifying information such as
      domain, alternative names, and key persons to improve matching quality.
    externalDocs:
      description: Learn about Company Watchlist and entities
      url: https://www.newscatcherapi.com/docs/web-search-api/guides-and-concepts/company-search
  - name: Datasets
    description: |
      Operations to create and manage datasets of entities.

      A dataset is a named collection of entities — think of it as a watchlist or
      portfolio. Connect a dataset to a job via `connected_dataset_ids` to activate
      Company Watchlist. Datasets can be reused across multiple jobs and monitors.
    externalDocs:
      description: Learn about datasets and Company Watchlist
      url: https://www.newscatcherapi.com/docs/web-search-api/guides-and-concepts/company-search
  - name: Projects
    description: |
      Operations to create, organize, and manage projects.

      A project is a named container for jobs, monitors, and datasets. Group
      related resources by use case, team, or client, and share them with
      teammates. Resources can be assigned at creation time or post-hoc.
    externalDocs:
      description: Learn about projects and resource organization
      url: https://www.newscatcherapi.com/docs/web-search-api/guides-and-concepts/projects
  - name: Meta
    description: Operations to check API health and version.

security:
  - ApiKeyAuth: []

paths:
  # ── Jobs ──────────────────────────────────────────────────────────────

  /catchAll/jobs/user:
    get:
      tags:
        - Jobs
      summary: List user jobs
      description: Returns all jobs created by the authenticated user.
      operationId: getUserJobs
      externalDocs:
        description: Learn about job management
        url: https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/list-user-jobs
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/Search"
        - $ref: "#/components/parameters/Ownership"
        - $ref: "#/components/parameters/ProjectIdQuery"
      responses:
        "200":
          $ref: "#/components/responses/ListUserJobsResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"

  /catchAll/validate:
    post:
      tags:
        - Jobs
      summary: Validate query
      description: |
        Checks whether a query is well-formed and likely to produce good results before submitting a job.

        Returns a quality assessment with a status level, identified issues, and actionable suggestions.
      operationId: validateQuery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateQueryRequestDto"
            example:
              query: "Series B funding rounds for SaaS startups"
      responses:
        "200":
          $ref: "#/components/responses/ValidateQueryResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/initialize:
    post:
      tags:
        - Jobs
      summary: Initialize job
      description:
        Get suggested validators, enrichments, and date ranges for a query.
      operationId: initialize
      externalDocs:
        description: Learn about validator and enrichment suggestions
        url: https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/initialize-job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitializeRequestDto"
            example:
              query: "Series B funding rounds for SaaS startups"
              context: "Focus on funding amount and company name"
      responses:
        "200":
          $ref: "#/components/responses/InitializeResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/submit:
    post:
      tags:
        - Jobs
      summary: Create job
      description: Submit a query to create a new processing job.
      operationId: createJob
      externalDocs:
        description: Detailed documentation for job creation
        url: https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/create-job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitRequestDto"
            example:
              query: "Series B funding rounds for SaaS startups"
              context: "Focus on funding amount and company name"
              start_date: "2026-02-18T00:00:00Z"
              end_date: "2026-02-23T00:00:00Z"
              limit: 10
              mode: "base"
      responses:
        "200":
          $ref: "#/components/responses/SubmitResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/status/{job_id}:
    get:
      tags:
        - Jobs
      summary: Get job status
      description: Retrieve the current processing status of a job.
      operationId: getJobStatus
      externalDocs:
        description: Understanding job statuses and polling
        url: https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/get-job-status
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          $ref: "#/components/responses/StatusResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /catchAll/pull/{job_id}:
    get:
      tags:
        - Jobs
      summary: Get job results
      description: Retrieve the final results for a completed job.
      operationId: getJobResults
      externalDocs:
        description: Working with job results and dynamic schemas
        url: https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/get-job-results
      parameters:
        - $ref: "#/components/parameters/JobId"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          $ref: "#/components/responses/PullJobResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /catchAll/continue:
    post:
      tags:
        - Jobs
      summary: Continue job
      description:
        Continue an existing job to process more records beyond the initial limit.
      operationId: continueJob
      externalDocs:
        description: Learn about job continuation and limits
        url: https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/continue-job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContinueRequestDto"
            example:
              job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
              new_limit: 100
      responses:
        "200":
          $ref: "#/components/responses/ContinueResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/jobs/{job_id}:
    delete:
      tags:
        - Jobs
      summary: Delete job
      description: |
        Soft-deletes a job. The job is flagged as deleted and no longer appears in list results. The underlying data is retained.

        Only the job owner can delete a job. Returns `404` if the job is not found or does not belong to the authenticated user.

        Deleting an already-deleted job returns `200`.
      operationId: deleteJob
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          $ref: "#/components/responses/DeleteJobResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  # ── Monitors ──────────────────────────────────────────────────────────────

  /catchAll/monitors:
    get:
      tags:
        - Monitors
      summary: List monitors
      description: Returns all monitors created by the authenticated user.
      operationId: listMonitors
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/Search"
        - $ref: "#/components/parameters/Ownership"
        - $ref: "#/components/parameters/ProjectIdQuery"
      responses:
        "200":
          $ref: "#/components/responses/ListMonitorsResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/monitors/create:
    post:
      tags:
        - Monitors
      summary: Create monitor
      description: Create a scheduled monitor based on a reference job.
      operationId: createMonitor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMonitorRequestDto"
            example:
              reference_job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
              schedule: "every day at 12 PM"
              timezone: "UTC"
              backfill: true
              limit: 10
              webhook_ids:
                - "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
      responses:
        "200":
          $ref: "#/components/responses/CreateMonitorResponse"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/monitors/pull/{monitor_id}:
    get:
      tags:
        - Monitors
      summary: Get monitor results
      description:
        Retrieve aggregated results from all jobs executed by a monitor.
      operationId: pullMonitorResults
      parameters:
        - name: monitor_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Monitor identifier.
      responses:
        "200":
          $ref: "#/components/responses/PullMonitorResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/monitors/{monitor_id}/jobs:
    get:
      tags:
        - Monitors
      summary: List monitor jobs
      description: Return all jobs executed by a monitor.
      operationId: listMonitorJobs
      parameters:
        - name: monitor_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Monitor identifier.
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: ["asc", "desc"]
            default: "asc"
          description: Sort by start_date (asc or desc).
      responses:
        "200":
          $ref: "#/components/responses/ListMonitorJobsResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/monitors/{monitor_id}/status:
    get:
      tags:
        - Monitors
      summary: Get monitor status history
      description: |
        Returns the full execution history of a monitor as a list of status entries, ordered from newest to oldest.
      operationId: getMonitorStatusHistory
      parameters:
        - name: monitor_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Monitor identifier.
      responses:
        "200":
          $ref: "#/components/responses/MonitorStatusHistoryResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /catchAll/monitors/{monitor_id}/enable:
    post:
      tags:
        - Monitors
      summary: Enable monitor
      description: Resume scheduled job execution for a monitor.
      operationId: enableMonitor
      parameters:
        - name: monitor_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Monitor identifier.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnableMonitorRequestDto"
            example:
              backfill: true
      responses:
        "200":
          description: Monitor enabled successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - message
                  - monitor_id
                properties:
                  success:
                    type: boolean
                    description: True if the operation succeeded; false otherwise.
                    example: true
                  message:
                    type: string
                    description: Human-readable success message.
                    example: "Monitor enabled successfully."
                  monitor_id:
                    type: string
                    format: uuid
                    description: ID of the enabled monitor.
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/monitors/{monitor_id}/disable:
    post:
      tags:
        - Monitors
      summary: Disable monitor
      description: Stop scheduled job execution for a monitor.
      operationId: disableMonitor
      parameters:
        - name: monitor_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Monitor identifier.
      responses:
        "200":
          description: Monitor disabled successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - message
                  - monitor_id
                properties:
                  success:
                    type: boolean
                    description: True if the operation succeeded; false otherwise.
                    example: true
                  message:
                    type: string
                    description: Human-readable success message.
                    example: "Monitor disabled successfully."
                  monitor_id:
                    type: string
                    format: uuid
                    description: ID of the disabled monitor.
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/monitors/{monitor_id}:
    patch:
      tags:
        - Monitors
      summary: Update monitor
      description: Update the webhook configuration for an existing monitor.
      operationId: updateMonitor
      externalDocs:
        description: Learn about monitor configuration
        url: https://www.newscatcherapi.com/docs/web-search-api/how-to/configure-monitors
      parameters:
        - name: monitor_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Monitor identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMonitorRequestDto"
            example:
              webhook_ids:
                - "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
      responses:
        "200":
          $ref: "#/components/responses/UpdateMonitorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

    delete:
      tags:
        - Monitors
      summary: Delete monitor
      description: |
        Soft-deletes a monitor. The monitor is flagged as deleted, stops
        executing scheduled jobs immediately, and no longer appears in list
        results.

        Only the monitor owner can delete a monitor. Returns `404` if the
        monitor is not found or does not belong to the authenticated user.

        Deleting an already-deleted monitor returns `200`.
      operationId: deleteMonitor
      parameters:
        - name: monitor_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Monitor identifier.
      responses:
        "200":
          $ref: "#/components/responses/DeleteMonitorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  # ── Webhooks ──────────────────────────────────────────────────────────────

  /catchAll/webhooks:
    post:
      tags:
        - Webhooks
      summary: Create webhook
      description: |
        Creates a new webhook endpoint for the organization.
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookRequestDto"
            example:
              name: "Layoffs Alert"
              url: "https://hooks.slack.com/services/T000/B000/xxx"
              type: "slack"
              delivery_mode: "full"
      responses:
        "201":
          $ref: "#/components/responses/CreateWebhookResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"

    get:
      tags:
        - Webhooks
      summary: List webhooks
      description: Returns a paginated list of webhooks belonging to the organization.
      operationId: listWebhooks
      parameters:
        - $ref: "#/components/parameters/Page"
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 500
          description: Number of webhooks per page.
        - $ref: "#/components/parameters/Search"
      responses:
        "200":
          $ref: "#/components/responses/ListWebhooksResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/webhooks/{webhook_id}:
    get:
      tags:
        - Webhooks
      summary: Get webhook
      description: Returns the full configuration of a single webhook by ID.
      operationId: getWebhook
      parameters:
        - $ref: "#/components/parameters/WebhookId"
      responses:
        "200":
          $ref: "#/components/responses/GetWebhookResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

    patch:
      tags:
        - Webhooks
      summary: Update webhook
      description: |
        Updates one or more fields of an existing webhook.
      operationId: updateWebhook
      parameters:
        - $ref: "#/components/parameters/WebhookId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookRequestDto"
            example:
              name: "Layoffs Alert (EU)"
              is_active: false
      responses:
        "200":
          $ref: "#/components/responses/UpdateWebhookResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

    delete:
      tags:
        - Webhooks
      summary: Delete webhook
      description: |
        Permanently deletes a webhook and removes all resource assignments. 
        
        Assigned jobs and monitors no longer trigger delivery to this webhook. This operation cannot be undone.
      operationId: deleteWebhook
      parameters:
        - $ref: "#/components/parameters/WebhookId"
      responses:
        "204":
          description: Webhook deleted successfully. No response body.
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /catchAll/webhooks/{webhook_id}/test:
    post:
      tags:
        - Webhooks
      summary: Test webhook delivery
      description: |
        Sends a test HTTP request to the webhook URL using the webhook's configured method, headers, and auth. Returns the response from the target endpoint.

        Use this to verify URL reachability and authentication before attaching the webhook to a live job or monitor.
      operationId: testWebhook
      parameters:
        - $ref: "#/components/parameters/WebhookId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestWebhookRequestDto"
            example:
              payload:
                test: true
                message: "CatchAll webhook test"
      responses:
        "200":
          $ref: "#/components/responses/TestWebhookResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/webhooks/{webhook_id}/resources:
    post:
      tags:
        - Webhooks
      summary: Assign resource to webhook
      description: |
        Attaches a job, monitor, or monitor group to the webhook. When the
        resource completes, the webhook receives a delivery.

        A single webhook can be assigned to multiple resources. Each resource
        can have up to 5 webhooks assigned.
      operationId: assignWebhookResource
      parameters:
        - $ref: "#/components/parameters/WebhookId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignWebhookResourceRequestDto"
            example:
              resource_type: "monitor"
              resource_id: "3fec5b07-8786-46d7-9486-d43ff67eccd4"
      responses:
        "200":
          $ref: "#/components/responses/AssignWebhookResourceResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

    get:
      tags:
        - Webhooks
      summary: List webhook resources
      description: |
        Returns a paginated list of resources currently assigned to this webhook.
      operationId: listWebhookResources
      parameters:
        - $ref: "#/components/parameters/WebhookId"
        - name: resource_type
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/MappableResourceType"
        - $ref: "#/components/parameters/Page"
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 500
          description: Number of assignments per page.
      responses:
        "200":
          $ref: "#/components/responses/ListWebhookResourcesResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/webhooks/{webhook_id}/resources/{resource_type}/{resource_id}:
    delete:
      tags:
        - Webhooks
      summary: Remove resource from webhook
      description: |
        Detaches a resource from this webhook. Completions of the resource no longer trigger delivery to this webhook.

        The webhook and the resource itself are not deleted.
      operationId: removeWebhookResource
      parameters:
        - $ref: "#/components/parameters/WebhookId"
        - $ref: "#/components/parameters/WebhookResourceType"
        - $ref: "#/components/parameters/WebhookResourceId"
      responses:
        "204":
          description: Resource removed from webhook. No response body.
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /catchAll/resources/{resource_type}/{resource_id}/webhooks:
    get:
      tags:
        - Webhooks
      summary: List webhooks for resource
      description: |
        Returns all webhooks currently assigned to the given resource.
      operationId: listWebhooksForResource
      parameters:
        - $ref: "#/components/parameters/WebhookResourceType"
        - $ref: "#/components/parameters/WebhookResourceId"
        - name: is_active
          in: query
          required: false
          schema:
            type: boolean
          description: Filter by active status. Omit to return webhooks regardless of status.
        - $ref: "#/components/parameters/Page"
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 500
          description: Number of webhooks per page.
      responses:
        "200":
          $ref: "#/components/responses/ListResourceWebhooksResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/webhook-history:
    get:
      tags:
        - Webhooks
      summary: Get delivery history
      description: |
        Returns a paginated delivery log for a given resource, ordered by timestamp descending. 
        
        Each record shows the webhook dispatched, the HTTP status code returned, delivery outcome, and any error or warning messages. Use this to debug failed deliveries or audit dispatch activity.
      operationId: getWebhookDeliveryHistory
      parameters:
        - name: resource_type
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/MappableResourceType"
          description: Type of the resource to retrieve delivery history for.
        - name: resource_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Identifier of the resource to retrieve delivery history for.
          example: "3fec5b07-8786-46d7-9486-d43ff67eccd4"
        - $ref: "#/components/parameters/Page"
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 500
          description: Number of records per page.
      responses:
        "200":
          $ref: "#/components/responses/DeliveryHistoryResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  # ── Entities ──────────────────────────────────────────────────────────────

  /catchAll/entities:
    get:
      tags:
        - Entities
      summary: List entities
      description: |
        Returns a paginated list of entities belonging to the authenticated organization. Supports filtering by status and entity type, and sorting by name, status, or creation date.
      operationId: listEntities
      parameters:
        - $ref: "#/components/parameters/Page"
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 500
          description: Number of entities per page.
        - name: search
          in: query
          required: false
          schema:
            type: string
          description:
            Filter entities by name (case-insensitive substring match).
          example: NewsCatcher
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/EntityStatus"
        - name: entity_type
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/EntityType"
        - name: sort_by
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/EntitySortBy"
        - name: sort_order
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/SortOrder"
      responses:
        "200":
          $ref: "#/components/responses/EntityListResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"

    post:
      tags:
        - Entities
      summary: Create entity
      description: |
        Creates a new company entity and begins background enrichment.

        The entity status starts as `pending` and transitions to `ready` once
        enrichment completes. Provide as much identifying information as
        possible — `domain` is the highest-signal field because it is
        unambiguous.
      operationId: createEntity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEntityRequest"
            example:
              name: NewsCatcher
              entity_type: company
              description: AI-powered news data provider
              additional_attributes:
                company_attributes:
                  domain: newscatcherapi.com
                  alternative_names:
                    - NC
                    - NewsCatcher API
                  key_persons:
                    - Artem Bugara
                    - Maksym Sugonyaka
      responses:
        "200":
          $ref: "#/components/responses/CreateEntityResponse"
        "400":
          $ref: "#/components/responses/EntityBadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"

  /catchAll/entities/batch:
    post:
      tags:
        - Entities
      summary: Create entities in batch
      description: |
        Creates multiple entities in a single request. Each entity is processed independently — a failure in one does not affect others.

        Returns an array of `{id, status}` objects in the same order as the input array.
      operationId: createEntitiesBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEntitiesBatchRequest"
            example:
              entities:
                - name: OpenAI
                  entity_type: company
                  description: Artificial intelligence research company
                  additional_attributes:
                    company_attributes:
                      domain: openai.com
                      alternative_names:
                        - Open AI
                      key_persons:
                        - Sam Altman
                - name: Stripe
                  entity_type: company
                  description: Online payment processing platform
                  additional_attributes:
                    company_attributes:
                      domain: stripe.com
                      key_persons:
                        - Patrick Collison
                        - John Collison
      responses:
        "200":
          $ref: "#/components/responses/CreateEntitiesBatchResponse"
        "400":
          $ref: "#/components/responses/EntityBadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"

  /catchAll/entities/{entity_id}:
    get:
      tags:
        - Entities
      summary: Get entity
      description:
        Returns a single entity by ID with all attributes and current status.
      operationId: getEntity
      parameters:
        - $ref: "#/components/parameters/EntityId"
      responses:
        "200":
          $ref: "#/components/responses/EntityResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    patch:
      tags:
        - Entities
      summary: Update entity
      description: |
        Updates one or more fields of an existing entity.
      operationId: updateEntity
      parameters:
        - $ref: "#/components/parameters/EntityId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEntityRequest"
            example:
              description: Updated description
              additional_attributes:
                company_attributes:
                  alternative_names:
                    - NC
                    - NewsCatcher API
                    - NCA
      responses:
        "200":
          $ref: "#/components/responses/EntityResponse"
        "400":
          $ref: "#/components/responses/EntityBadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    delete:
      tags:
        - Entities
      summary: Delete entity
      description: |
        Permanently deletes an entity. The entity is removed from all
        datasets and the search index. This operation cannot be undone.
      operationId: deleteEntity
      parameters:
        - $ref: "#/components/parameters/EntityId"
      responses:
        "204":
          description: Entity deleted successfully. No response body.
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  # ── Datasets ──────────────────────────────────────────────────────────────

  /catchAll/datasets:
    get:
      tags:
        - Datasets
      summary: List datasets
      description: |
        Returns a paginated list of datasets belonging to the authenticated organization. Supports filtering by status and sorting by name, status, or creation date.
      operationId: listDatasets
      parameters:
        - $ref: "#/components/parameters/Page"
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 500
          description: Number of datasets per page.
        - name: search
          in: query
          required: false
          schema:
            type: string
          description:
            Filter datasets by name (case-insensitive substring match).
          example: Portfolio
        - name: latest_status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/DatasetStatus"
          description: |
            Filter by dataset status.
        - name: sort_by
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/DatasetSortBy"
        - name: sort_order
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/SortOrder"
        - $ref: "#/components/parameters/Ownership"
        - $ref: "#/components/parameters/ProjectIdQuery"
      responses:
        "200":
          $ref: "#/components/responses/DatasetListResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"

    post:
      tags:
        - Datasets
      summary: Create dataset
      description: |
        Creates a new dataset from a list of existing entity IDs.

        If any of the provided entity IDs do not exist or do not belong to
        your organization, the request fails with `400`. All entity IDs must
        be valid before the dataset is created.

        To create a dataset and entities in one step, use the [`Create dataset from CSV`](https://www.newscatcherapi.com/docs/web-search-api/api-reference/datasets/create-dataset-from-csv)
        endpoint instead.
      operationId: createDataset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDatasetRequest"
            example:
              name: My Portfolio
              description: Companies in our investment portfolio
              entity_ids:
                - 854198fa-f702-49db-a381-0427fa87f173
                - a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        "200":
          $ref: "#/components/responses/DatasetResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/datasets/upload:
    post:
      tags:
        - Datasets
      summary: Create dataset from CSV
      description: |
        Creates a new dataset by uploading a CSV file. Each row in the CSV becomes an entity. The `name` and `domain`columns are required; all other columns are optional.

        **CSV format:**
        ```csv
        name,description,domain,alternative_names,key_persons
        NewsCatcher,"AI-powered news data provider",newscatcherapi.com,"NC;NewsCatcher API","Artem Bugara;Maksym Sugonyaka"
        OpenAI,"Artificial intelligence research company",openai.com,"Open AI","Sam Altman"
        ```

        Use semicolons (`;`) to separate multiple values in `alternative_names` and `key_persons`. Rows with empty `name` are skipped and reported in `validation_report`. 

        **Note**: The response shape differs from the JSON dataset creation endpoint: it returns `dataset_id` (not `id`) and includes a `validation_report` with details on skipped rows.
      operationId: createDatasetFromCsv
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - name
              properties:
                file:
                  type: string
                  format: binary
                  description: The CSV file to upload.
                name:
                  type: string
                  description: Name for the new dataset.
                  example: My Portfolio
                description:
                  type: string
                  description: Optional description for the dataset.
                  example: Companies from Q1 2026 watchlist
      responses:
        "200":
          $ref: "#/components/responses/CreateDatasetCsvResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/datasets/{dataset_id}:
    get:
      tags:
        - Datasets
      summary: Get dataset
      description:
        Returns a single dataset by ID including entity count and current status.
      operationId: getDataset
      parameters:
        - $ref: "#/components/parameters/DatasetId"
      responses:
        "200":
          $ref: "#/components/responses/DatasetResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    patch:
      tags:
        - Datasets
      summary: Update dataset
      description: |
        Updates the name or description of a dataset.
      operationId: updateDataset
      parameters:
        - $ref: "#/components/parameters/DatasetId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDatasetRequest"
            example:
              name: My Portfolio (updated)
              description: Updated Q1 2026 watchlist
      responses:
        "200":
          $ref: "#/components/responses/DatasetResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

    delete:
      tags:
        - Datasets
      summary: Delete dataset
      description: |
        Permanently deletes a dataset. The entities within the dataset are
        not deleted — only the dataset itself. This operation cannot be
        undone.
      operationId: deleteDataset
      parameters:
        - $ref: "#/components/parameters/DatasetId"
      responses:
        "204":
          description: Dataset deleted successfully. No response body.
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /catchAll/datasets/{dataset_id}/entities:
    post:
      tags:
        - Datasets
      summary: Add entities to dataset
      description: |
        Adds one or more existing entities to a dataset. Returns the number of entities added.
      operationId: addEntitiesToDataset
      parameters:
        - $ref: "#/components/parameters/DatasetId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DatasetEntityIdsRequest"
            example:
              entity_ids:
                - 854198fa-f702-49db-a381-0427fa87f173
      responses:
        "200":
          $ref: "#/components/responses/ManageEntitiesResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

    delete:
      tags:
        - Datasets
      summary: Remove entities from dataset
      description: |
        Removes one or more entities from a dataset. The entities themselves are not deleted — they are only removed from this dataset. Returns the number of entities removed.
      operationId: removeEntitiesFromDataset
      parameters:
        - $ref: "#/components/parameters/DatasetId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DatasetEntityIdsRequest"
            example:
              entity_ids:
                - 854198fa-f702-49db-a381-0427fa87f173
      responses:
        "200":
          $ref: "#/components/responses/ManageEntitiesResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/datasets/{dataset_id}/entities/list:
    post:
      tags:
        - Datasets
      summary: List entities in dataset
      description: |
        Returns a paginated list of entities in a dataset. Supports filtering by status, entity type, and name search.
      operationId: listEntitiesInDataset
      parameters:
        - $ref: "#/components/parameters/DatasetId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListDatasetEntitiesRequest"
            example:
              page: 1
              page_size: 100
              search: "OpenAI"
              status: "ready"
              entity_type: "company"
              sort_by: "created_at"
              sort_order: "desc"
      responses:
        "200":
          $ref: "#/components/responses/DatasetEntityListResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/datasets/{dataset_id}/status:
    get:
      tags:
        - Datasets
      summary: Get dataset status history
      description: |
        Returns the full status change history for a dataset, ordered chronologically from oldest to newest.
      operationId: getDatasetStatusHistory
      parameters:
        - $ref: "#/components/parameters/DatasetId"
      responses:
        "200":
          $ref: "#/components/responses/DatasetStatusHistoryResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /catchAll/datasets/{dataset_id}/upload:
    post:
      tags:
        - Datasets
      summary: Add companies to dataset via CSV
      description: |
        Appends new companies to an existing dataset by uploading a CSV file. Uses the same CSV format as the dataset creation endpoint.

        The response omits `dataset_name` compared to the create-from-CSV endpoint since the dataset already exists.
      operationId: uploadCSVToDataset
      parameters:
        - $ref: "#/components/parameters/DatasetId"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The CSV file to upload.
      responses:
        "200":
          $ref: "#/components/responses/UploadCsvToDatasetResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

# ── Projects ──────────────────────────────────────────────────────────

  /catchAll/projects:
    post:
      tags:
        - Projects
      summary: Create project
      description: Creates a new project.
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRequestDto"
            example:
              name: "AI M&A Tracking"
              description: "Tracks AI-related M&A activity for our investment team."
      responses:
        "201":
          $ref: "#/components/responses/CreateProjectResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"

    get:
      tags:
        - Projects
      summary: List projects
      description: Returns all projects visible to the authenticated user.
      operationId: listProjects
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Filter by project name (case-insensitive substring match).
          example: "M&A"
        - $ref: "#/components/parameters/Ownership"
      responses:
        "200":
          $ref: "#/components/responses/ListProjectsResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/projects/{project_id}:
    get:
      tags:
        - Projects
      summary: Get project
      description: Returns a single project by ID.
      operationId: getProject
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          $ref: "#/components/responses/ProjectResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    patch:
      tags:
        - Projects
      summary: Update project
      description: Updates the name or description of an existing project.
      operationId: updateProject
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectRequestDto"
            example:
              name: "AI M&A Tracking (Q2 2026)"
      responses:
        "200":
          $ref: "#/components/responses/UpdateProjectResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

    delete:
      tags:
        - Projects
      summary: Delete project
      description: |
        Deletes a project. By default, assigned resources are unassigned but not deleted. 
      operationId: deleteProject
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DeleteResources"
      responses:
        "204":
          description: Project deleted successfully. No response body.
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /catchAll/projects/{project_id}/overview:
    get:
      tags:
        - Projects
      summary: Get project overview
      description: |
        Returns resource counts for a project, grouped by type and status.

        For `jobs` and `monitors`, counts are broken down by status (for example, `completed`, `failed`). For `datasets` and `monitor_groups`, only a `total` count is returned.
      operationId: getProjectOverview
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          $ref: "#/components/responses/ProjectOverviewResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /catchAll/projects/{project_id}/resources:
    post:
      tags:
        - Projects
      summary: Add resources to project
      description: |
        Assigns one or more existing resources to a project in a single request.
      operationId: addResourceToProject
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddResourceRequestDto"
            example:
              resources:
                - resource_type: "job"
                  resource_id: "48421e16-1f50-4048-b62c-d3bc0789d30d"
      responses:
        "200":
          $ref: "#/components/responses/AddResourceResponse"
        "201":
          $ref: "#/components/responses/AddResourceResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    get:
      tags:
        - Projects
      summary: List project resources
      description: Returns all resources assigned to a project, with optional filtering by type.
      operationId: listProjectResources
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: resource_type
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ProjectResourceType"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          $ref: "#/components/responses/ListProjectResourcesResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"

  /catchAll/projects/{project_id}/resources/{resource_type}/{resource_id}:
    delete:
      tags:
        - Projects
      summary: Remove resource from project
      description: |
        Removes a resource from a project. The resource itself is not
        deleted — it becomes unassigned and continues to exist.
      operationId: removeResourceFromProject
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/ProjectResourceType"
        - name: resource_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the resource to remove.
          example: "48421e16-1f50-4048-b62c-d3bc0789d30d"
      responses:
        "200":
          $ref: "#/components/responses/RemoveResourceResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  # ── Meta ──────────────────────────────────────────────────────────────

  /health:
    get:
      tags:
        - Meta
      summary: Check health
      description: Check API availability.
      operationId: healthCheck
      security: []
      responses:
        "200":
          $ref: "#/components/responses/HealthCheckResponse"

  /version:
    get:
      tags:
        - Meta
      summary: Get version
      description: Returns current API version.
      operationId: getVersion
      security: []
      responses:
        "200":
          $ref: "#/components/responses/VersionResponse"

  /catchAll/user/limits:
    post:
      tags:
        - Meta
      summary: Get plan limits
      description: |
        Returns plan features and current usage for the authenticated organization.
      operationId: getPlanLimits
      responses:
        "200":
          $ref: "#/components/responses/GetPlanLimitsResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"

components:
  parameters:
    JobId:
      name: job_id
      in: path
      required: true
      description: |
        Unique job identifier returned from [`POST /catchAll/submit`](https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/create-job).
      schema:
        type: string
        format: uuid
      example: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"

    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
        minimum: 1
      description: |
        Page number to retrieve.

    PageSize:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
        default: 100
        minimum: 1
        maximum: 1000
      description: |
        Number of records per page.

    EntityId:
      name: entity_id
      in: path
      required: true
      description: Unique entity identifier.
      schema:
        type: string
        format: uuid
      example: "854198fa-f702-49db-a381-0427fa87f173"

    DatasetId:
      name: dataset_id
      in: path
      required: true
      description: Unique dataset identifier.
      schema:
        type: string
        format: uuid
      example: "ccabb755-afc2-4047-b84c-78d1f23d49b2"

    Search:
      name: search
      in: query
      required: false
      schema:
        type: string
      description: Filter results by text (case-insensitive substring match).

    Ownership:
      name: ownership
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/OwnershipFilter"

    ProjectId:
      name: project_id
      in: path
      required: true
      description: Unique project identifier.
      schema:
        type: string
        format: uuid
      example: "60a85db4-78ec-4b78-876a-bc7d9cdadd04"

    ProjectIdQuery:
      name: project_id
      in: query
      required: false
      description: Filter results to resources belonging to this project.
      schema:
        type: string
        format: uuid
      example: "60a85db4-78ec-4b78-876a-bc7d9cdadd04"

    DeleteResources:
      name: delete_resources
      in: query
      required: false
      description: |
        If true, permanently deletes all resources (jobs, monitors, datasets) assigned to the project. If false, the project is deleted and its resources are unassigned but not deleted.
      schema:
        type: boolean
        default: false

    WebhookId:
      name: webhook_id
      in: path
      required: true
      description: Unique webhook identifier.
      schema:
        type: string
        format: uuid
      example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"

    WebhookResourceType:
      name: resource_type
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/MappableResourceType"

    WebhookResourceId:
      name: resource_id
      in: path
      required: true
      description: Unique resource identifier.
      schema:
        type: string
        format: uuid
      example: "3fec5b07-8786-46d7-9486-d43ff67eccd4"

  responses:
    ValidateQueryResponse:
      description: Query validation result.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidateQueryResponseDto"
          example:
            status: "good"
            title: "Specific event type clear"
            description: "Clear event type and focus; no timeframe needed for a default recent search."
            issues: []
            suggestions: []
            confidence: 0.98

    InitializeResponse:
      description: Suggestions retrieved successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/InitializeResponseDto"
          example:
            query: "Series B funding rounds for SaaS startups"
            context: "Focus on funding amount and company name"
            validators:
              - name: "is_series_b_funding"
                description:
                  "true if the web page describes a Series B funding round"
                type: "boolean"
              - name: "is_saas_startup"
                description:
                  "true if the company receiving funding is a SaaS startup"
                type: "boolean"
            enrichments:
              - name: "funding_amount"
                description:
                  "Extract the amount of funding received in the Series B round"
                type: "number"
              - name: "investee_company"
                description:
                  "Extract the name of the SaaS startup receiving the funding"
                type: "company"
              - name: "investor_company"
                description: "Extract the name of the lead investor"
                type: "company"
              - name: "funding_date"
                description:
                  "Extract the date when the funding round was announced"
                type: "date"
            start_date: "2026-02-19T00:00:00Z"
            end_date: "2026-02-24T00:00:00Z"
            date_modification_message:
              - "No dates were provided; using a default window of 5 days."

    SubmitResponse:
      description: Job created successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SubmitResponseDto"
          example:
            job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"

    ContinueResponse:
      description: Job continuation accepted
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ContinueResponseDto"
          example:
            job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
            previous_limit: 10
            new_limit: 100
            status: "accepted"

    StatusResponse:
      description: Status retrieved successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/StatusResponseDto"
          example:
            job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
            status: "completed"
            steps:
              - status: "submitted"
                order: 1
                completed: true
              - status: "analyzing"
                order: 2
                completed: true
              - status: "fetching"
                order: 3
                completed: true
              - status: "clustering"
                order: 4
                completed: true
              - status: "enriching"
                order: 5
                completed: true
              - status: "completed"
                order: 6
                completed: true
              - status: "failed"
                order: 7
                completed: false

    ListUserJobsResponse:
      description: User jobs retrieved successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListUserJobsResponseDto"
          example:
            total: 27
            page: 1
            page_size: 2
            total_pages: 14
            jobs:
              - job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
                query: "Series B funding rounds for SaaS startups"
                created_at: "2026-02-24T13:57:56Z"
                status: "completed"
                user_key: "***...a1b2"
                mode: "base"
              - job_id: "8d618890-f9f5-4c97-af17-236136a306a7"
                query: "Corporate headquarters relocations in the US"
                created_at: "2026-02-18T20:25:20Z"
                status: "completed"
                user_key: "***...a1b2"
                mode: "base"

    PullJobResponse:
      description: Results retrieved successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PullJobResponseDto"
          example:
            job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
            query: "Series B funding rounds for SaaS startups"
            context: "Focus on funding amount and company name"
            validators: []
            enrichments: []
            status: "completed"
            error: null
            duration: "1m"
            candidate_records: 4
            valid_records: 3
            progress_validated: 4
            date_range:
              start_date: "2026-02-18T00:00:00Z"
              end_date: "2026-02-23T00:00:00Z"
            page: 1
            page_size: 2
            total_pages: 2
            limit: 10
            mode: "base"
            all_records:
              - record_id: "6983973854314692457"
                record_title: "VulnCheck Raises $25M Series B Funding"
                enrichment:
                  enrichment_confidence: "high"
                  funding_amount: 25000000
                  funding_currency: "USD"
                  funding_date: "2026-02-17"
                  investee_company:
                    source_text: "VulnCheck"
                    confidence: 0.99
                    metadata:
                      name: "VulnCheck"
                      domain_url: "vulncheck.com"
                      domain_url_confidence: "high"
                  investor_company:
                    source_text: "Sorenson Capital"
                    confidence: 0.99
                    metadata:
                      name: "Sorenson Capital"
                      domain_url: null
                      domain_url_confidence: null
                citations:
                  - title: "VulnCheck raises $25M Series B"
                    link: "https://www.msn.com/en-us/money/other/exclusive-vulncheck-raises-25m-funding-to-help-companies-patch-software-bugs/ar-AA1WwdjW"
                    published_date: "2026-02-17T14:01:05Z"

    DeleteJobResponse:
      description: Job deleted successfully (or already deleted).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteJobResponseDto"
          example:
            success: true
            message: "Job deleted successfully."
            job_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"

    CreateMonitorResponse:
      description: Monitor created successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateMonitorResponseDto"
          example:
            monitor_id: "7f3a8b2c-1e4d-4a5b-9c8d-6e7f8a9b0c1d"
            status: "Monitor Created Successfully"

    UpdateMonitorResponse:
      description: Monitor updated successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateMonitorResponseDto"
          example:
            monitor_id: "3fec5b07-8786-46d7-9486-d43ff67eccd4"
            status: "Monitor updated Successfully"

    DeleteMonitorResponse:
      description: Monitor deleted successfully (or already deleted).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteMonitorResponseDto"
          example:
            success: true
            message: "Monitor deleted successfully."
            monitor_id: "7f3a8b2c-1e4d-4a5b-9c8d-6e7f8a9b0c1d"

    MonitorStatusHistoryResponse:
      description: Monitor status history retrieved successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/MonitorStatusHistoryResponseDto"
          example:
            success: true
            message: null
            monitor_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            total_statuses: 39
            statuses:
              - status: "disable"
                created_at: "2026-02-06T00:42:00Z"
                additional_information: null
              - status: "dump"
                created_at: "2026-02-05T12:04:00Z"
                additional_information:
                  nb_existing_records: 408
                  nb_final_records: 28
              - status: "scheduled"
                created_at: "2026-02-05T12:00:00Z"
                additional_information:
                  job_id: "c3d4e5f6-a7b8-9012-cdef-345678901234"
                  start_date: "2026-02-04T12:00:00"
                  end_date: "2026-02-05T12:00:00"
              - status: "created"
                created_at: "2026-01-19T16:28:00Z"
                additional_information: null

    ListMonitorJobsResponse:
      description: List of monitor jobs
      content:
        application/json:
          schema:
            type: object
            required:
              - monitor_id
              - sort_order
              - total_jobs
              - jobs
            properties:
              monitor_id:
                type: string
                format: uuid
                description: Monitor identifier.
              sort_order:
                type: string
                enum: ["asc", "desc"]
                description: Sort order applied to results.
              total_jobs:
                type: integer
                description: Total number of jobs for this monitor.
              jobs:
                type: array
                items:
                  $ref: "#/components/schemas/MonitorJobItem"
                description: Array of job executions for this monitor.

    PullMonitorResponse:
      description: Monitor results retrieved successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PullMonitorResponseDto"

    ListMonitorsResponse:
      description: List of user monitors
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListMonitorsResponseDto"
          example:
            total: 3
            page: 1
            page_size: 100
            total_pages: 1
            monitors:
              - monitor_id: "7f3a8b2c-1e4d-4a5b-9c8d-6e7f8a9b0c1d"
                reference_job_id: "5f0c9087-85cb-4917-b3c7-e5a5eff73a0c"
                reference_job_query: "Series B funding rounds for SaaS startups"
                enabled: true
                schedule: "0 12 * * *"
                schedule_human_readable: "Every day at 12 PM"
                timezone: "UTC"
                created_at: "2026-02-24T14:00:00Z"
                webhook:
                  url: "https://example.com/webhook"
                  method: "POST"
                user_key: "***...a1b2"

    CreateEntityResponse:
      description: Entity created successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateEntityResponse"
          example:
            id: "854198fa-f702-49db-a381-0427fa87f173"
            status: pending

    EntityResponse:
      description: Full entity object with all attributes and metadata.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/EntityResponse"
          example:
            id: "854198fa-f702-49db-a381-0427fa87f173"
            entity_type: company
            organization_id: "e5d9e9b0-e415-4941-8ef0-916c5ee56207"
            name: NewsCatcher
            description: AI-powered news data provider
            additional_attributes:
              company_attributes:
                domain: newscatcherapi.com
                description: Provider of news and web search APIs for developers
                key_persons:
                  - Artem Bugara
                  - Maksym Sugonyaka
                alternative_names:
                  - NC
                  - NewsCatcher API
            status: ready
            created_by_user_id: "870e258e-12ec-4a47-8656-e7a43b0265b3"
            created_at: "2026-04-08T15:21:17.272139"
            updated_at: "2026-04-08T15:21:18.248316"

    EntityListResponse:
      description: Paginated list of entities.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/EntityListResponse"

    CreateEntitiesBatchResponse:
      description: Batch of entities created successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateEntitiesBatchResponse"
          example:
            entities:
              - id: "88430468-d784-485d-84d5-6964a29ccd1e"
                status: pending
              - id: "ad4908fe-6db5-4237-a137-68dd8fc9fedc"
                status: pending
            count: 2

    DatasetResponse:
      description: Full dataset object with metadata and current status.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DatasetResponse"
          example:
            id: "ccabb755-afc2-4047-b84c-78d1f23d49b2"
            organization_id: "e5d9e9b0-e415-4941-8ef0-916c5ee56207"
            name: My Portfolio
            description: Companies in our investment portfolio
            entity_count: 4
            latest_status: ready
            created_by_user_id: "870e258e-12ec-4a47-8656-e7a43b0265b3"
            created_at: "2026-04-08T15:21:36.026993"
            updated_at: "2026-04-08T15:21:36.027001"

    DatasetListResponse:
      description: Paginated list of datasets.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DatasetListResponse"

    CreateDatasetCsvResponse:
      description: Dataset created from CSV successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateDatasetCsvResponse"
          example:
            dataset_id: "ccabb755-afc2-4047-b84c-78d1f23d49b2"
            dataset_name: My Portfolio
            entities_created: 3
            validation_report:
              total_rows: 4
              valid_rows: 3
              skipped_count: 1
              skipped_rows:
                - row: 3
                  reason: "missing required field: name"

    UploadCsvToDatasetResponse:
      description: Companies added to dataset from CSV successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UploadCsvToDatasetResponse"
          example:
            dataset_id: "ccabb755-afc2-4047-b84c-78d1f23d49b2"
            entities_created: 3
            validation_report:
              total_rows: 3
              valid_rows: 3
              skipped_count: 0
              skipped_rows: []

    ManageEntitiesResponse:
      description: Entities added or removed successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ManageEntitiesResponse"
          example:
            dataset_id: "ccabb755-afc2-4047-b84c-78d1f23d49b2"
            affected_count: 1

    DatasetEntityListResponse:
      description: Paginated list of entities in a dataset.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DatasetEntityListResponse"

    DatasetStatusHistoryResponse:
      description: Dataset status change history.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DatasetStatusHistoryResponse"
          example:
            dataset_id: "ccabb755-afc2-4047-b84c-78d1f23d49b2"
            history:
              - status: pending
                additional_information: null
                created_at: "2026-04-08T15:21:36.066271"
              - status: enriching
                additional_information: null
                created_at: "2026-04-08T15:21:36.500000"
              - status: ready
                additional_information: null
                created_at: "2026-04-08T15:21:55.000000"

    HealthCheckResponse:
      description: API is healthy
      content:
        application/json:
          schema:
            type: object
            properties:
              healthy:
                type: boolean
                example: true

    VersionResponse:
      description: API version
      content:
        application/json:
          schema:
            type: object
            properties:
              version:
                type: string
                example: "1.3.1"

    GetPlanLimitsResponse:
      description: Plan limits retrieved successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetPlanLimitsResponseDto"
          example:
            features:
              - name: "Jobs Concurrency"
                code: "Jobs_Concurrency"
                value_type: "integer"
                value: 20
                current_usage: 1
              - name: "Max Results"
                code: "Job_Max_Results"
                value_type: "integer"
                value: 100000
                current_usage: 0
              - name: "Monthly Granted Credits"
                code: "monthly_free_credits"
                value_type: "integer"
                value: 200000
                current_usage: 0

    # ── Webhook responses ────────────────────────────────────────────────

    CreateWebhookResponse:
      description: Webhook created successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateWebhookResponseDto"
          example:
            success: true
            message: "Webhook created successfully."
            webhook:
              id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
              name: "Layoffs Alert"
              url: "https://hooks.slack.com/services/T000/B000/xxx"
              type: "slack"
              delivery_mode: "full"
              method: "POST"
              headers: {}
              params: {}
              formatter_config: null
              is_active: true
              organization_id: "org-uuid-here"
              created_by_user_id: "user-uuid-here"
              created_at: "2026-05-18T10:00:00Z"
              updated_at: "2026-05-18T10:00:00Z"

    GetWebhookResponse:
      description: Webhook retrieved successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetWebhookResponseDto"
          example:
            success: true
            message: "Webhook retrieved successfully."
            webhook:
              id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
              name: "Layoffs Alert"
              url: "https://hooks.slack.com/services/T000/B000/xxx"
              type: "slack"
              delivery_mode: "full"
              method: "POST"
              headers: {}
              params: {}
              formatter_config: null
              is_active: true
              organization_id: "org-uuid-here"
              created_by_user_id: "user-uuid-here"
              created_at: "2026-05-18T10:00:00Z"
              updated_at: "2026-05-18T10:00:00Z"

    UpdateWebhookResponse:
      description: Webhook updated successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateWebhookResponseDto"
          example:
            success: true
            message: "Webhook updated successfully."
            webhook:
              id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
              name: "Layoffs Alert (EU)"
              url: "https://hooks.slack.com/services/T000/B111/yyyy"
              type: "slack"
              delivery_mode: "full"
              method: "POST"
              headers: {}
              params: {}
              formatter_config: null
              is_active: true
              organization_id: "org-uuid-here"
              created_by_user_id: "user-uuid-here"
              created_at: "2026-05-18T10:00:00Z"
              updated_at: "2026-05-19T08:30:00Z"

    ListWebhooksResponse:
      description: Webhooks retrieved successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListWebhooksResponseDto"
          example:
            total: 2
            page: 1
            page_size: 100
            total_pages: 1
            webhooks:
              - id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                name: "Layoffs Alert"
                url: "https://hooks.slack.com/services/T000/B000/xxx"
                type: "slack"
                delivery_mode: "full"
                method: "POST"
                headers: {}
                params: {}
                formatter_config: null
                is_active: true
                organization_id: "org-uuid-here"
                created_by_user_id: "user-uuid-here"
                created_at: "2026-05-18T10:00:00Z"
                updated_at: "2026-05-18T10:00:00Z"
              - id: "b2c3d4e5-f6a7-8901-bcde-f12345678901"
                name: "M&A Tracker"
                url: "https://my-service.example.com/catchall-hook"
                type: "generic"
                delivery_mode: "per_record"
                method: "POST"
                headers:
                  Authorization: "Bearer token123"
                params: {}
                formatter_config: null
                is_active: true
                organization_id: "org-uuid-here"
                created_by_user_id: "user-uuid-here"
                created_at: "2026-05-19T09:00:00Z"
                updated_at: "2026-05-19T09:00:00Z"

    TestWebhookResponse:
      description: Test delivery attempted. Check `success` and `http_status_code` for the outcome.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/TestWebhookResponseDto"
          example:
            success: true
            message: "Test delivery succeeded."
            http_status_code: 200
            response_body: "ok"

    AssignWebhookResourceResponse:
      description: Resource assigned to webhook.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AssignWebhookResourceResponseDto"
          example:
            success: true
            message: "Resource assigned to webhook."
            already_existed: false
            mapping:
              id: "f1e2d3c4-b5a6-7890-abcd-ef1234567890"
              webhook_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
              resource_type: "monitor"
              resource_id: "3fec5b07-8786-46d7-9486-d43ff67eccd4"
              assigned_at: "2026-05-18T10:00:00Z"

    ListWebhookResourcesResponse:
      description: Webhook resource assignments retrieved successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListWebhookResourcesResponseDto"
          example:
            total: 1
            page: 1
            page_size: 100
            total_pages: 1
            resources:
              - id: "f1e2d3c4-b5a6-7890-abcd-ef1234567890"
                webhook_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                resource_type: "monitor"
                resource_id: "3fec5b07-8786-46d7-9486-d43ff67eccd4"
                assigned_at: "2026-05-18T10:00:00Z"

    ListResourceWebhooksResponse:
      description: Webhooks for resource retrieved successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListWebhooksResponseDto"
          example:
            total: 1
            page: 1
            page_size: 100
            total_pages: 1
            webhooks:
              - id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                name: "Layoffs Alert"
                url: "https://hooks.slack.com/services/T000/B000/xxx"
                type: "slack"
                delivery_mode: "full"
                method: "POST"
                headers: {}
                params: {}
                formatter_config: null
                is_active: true
                organization_id: "org-uuid-here"
                created_by_user_id: "user-uuid-here"
                created_at: "2026-05-18T10:00:00Z"
                updated_at: "2026-05-18T10:00:00Z"

    DeliveryHistoryResponse:
      description: Webhook delivery history retrieved successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeliveryHistoryResponseDto"
          example:
            resource_type: "monitor"
            resource_id: "3fec5b07-8786-46d7-9486-d43ff67eccd4"
            total: 2
            page: 1
            page_size: 50
            total_pages: 1
            items:
              - id: 42
                webhook_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                resource_type: "monitor"
                resource_id: "3fec5b07-8786-46d7-9486-d43ff67eccd4"
                additional_info: {}
                status_code: 200
                attempt_number: 1
                timestamp: "2026-05-18T10:00:00Z"
                delivery_status: "SUCCESS"
                error_message: null
                warning_message: null
              - id: 41
                webhook_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                resource_type: "monitor"
                resource_id: "3fec5b07-8786-46d7-9486-d43ff67eccd4"
                additional_info: {}
                status_code: 503
                attempt_number: 1
                timestamp: "2026-05-17T10:00:00Z"
                delivery_status: "FAILED"
                error_message: "Service unavailable"
                warning_message: null

    # ── Project responses ────────────────────────────────────────────────

    CreateProjectResponse:
      description: Project created successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateProjectResponseDto"
          example:
            success: true
            message: "Project created successfully."
            project_id: "60a85db4-78ec-4b78-876a-bc7d9cdadd04"
            name: "AI M&A Tracking"

    ProjectResponse:
      description: Project details.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProjectResponseDto"
          example:
            success: true
            message: "OK"
            project_id: "60a85db4-78ec-4b78-876a-bc7d9cdadd04"
            name: "AI M&A Tracking"
            description: "Tracks AI-related M&A activity for our investment team."
            resources_count: 4
            created_at: "2026-05-20T14:31:35Z"
            updated_at: "2026-05-20T14:31:35Z"

    UpdateProjectResponse:
      description: Project updated successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateProjectResponseDto"
          example:
            success: true
            message: "Project updated successfully."
            project_id: "60a85db4-78ec-4b78-876a-bc7d9cdadd04"

    ListProjectsResponse:
      description: Paginated list of projects.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProjectListResponseDto"
          example:
            total: 2
            page: 1
            page_size: 100
            total_pages: 1
            projects:
              - project_id: "60a85db4-78ec-4b78-876a-bc7d9cdadd04"
                name: "AI M&A Tracking"
                description: "Tracks AI-related M&A activity."
                resources_count: 4
                created_at: "2026-05-20T14:31:35Z"
                updated_at: "2026-05-20T14:31:35Z"

    ProjectOverviewResponse:
      description: Resource counts for the project, grouped by type and status.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProjectOverviewResponseDto"
          example:
            project_id: "60a85db4-78ec-4b78-876a-bc7d9cdadd04"
            overview:
              jobs: {}
              monitors: {}
              datasets:
                total: 2
              monitor_groups:
                total: 0

    AddResourceResponse:
      description: |
        One or more resources added to the project (`201`), or all were already present (`200`).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AddResourceResponseDto"
          example:
            success: true
            message: "Resources added to project."
            results:
              - resource_type: "job"
                resource_id: "48421e16-1f50-4048-b62c-d3bc0789d30d"
                success: true
                message: "Resource added to project."
                already_exists: false

    ListProjectResourcesResponse:
      description: Paginated list of resources assigned to the project.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProjectResourceListResponseDto"
          example:
            total: 1
            page: 1
            page_size: 100
            total_pages: 1
            resources:
              - resource_type: "job"
                resource_id: "48421e16-1f50-4048-b62c-d3bc0789d30d"
                name: "Series B fintech funding rounds"
                created_at: "2026-05-20T14:31:37Z"
                metadata: {}

    RemoveResourceResponse:
      description: Resource removed from the project.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RemoveResourceResponseDto"
          example:
            success: true
            message: "Resource removed from project."

    # ── Common error responses ─────────────────────────────────────────────

    BadRequestError:
      description: |
        Bad request - invalid parameters or constraint violations.

        Common causes: date ranges outside plan limits, invalid job state for continuation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            date_validation:
              summary: Date outside plan limit
              value:
                detail:
                  "start_date must be >= 2025-02-05, your plan limited to
                  lookback 365 days."
            invalid_continuation:
              summary: Invalid job continuation
              value:
                detail:
                  "New limit must be greater than the previous limit for this
                  job."

    EntityBadRequestError:
      description: |
        Validation error in entity field values.

        Returned when required fields are missing or field values are invalid
        (for example, an unrecognised `entity_type` value). The response body
        uses a `message`/`status`/`status_code` structure, distinct from the
        standard `detail`-based error format used elsewhere in the API.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/EntityValidationErrorBody"
          examples:
            missing_name:
              summary: Required field missing
              value:
                message:
                  "Validation Error with the following fields: [{'field':
                  'body.name', 'message': 'field required', 'type':
                  'value_error.missing'}]"
                status: Bad Request
                status_code: 400
            invalid_entity_type:
              summary: Invalid enum value
              value:
                message:
                  'Validation Error with the following fields: [{''field'':
                  ''body.entity_type'', ''message'': "entity_type must be one of
                  (''company'', ''person'')", ''type'': ''value_error''}]'
                status: Bad Request
                status_code: 400

    ForbiddenError:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    NotFoundError:
      description: Job/monitor not found or results not available
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationErrorResponse"

    UnauthorizedError:
      description: API key is missing or invalid.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            detail: "X-API-Key header is required for this endpoint"

  schemas:
    Query:
      type: string
      description: |
        Plain text question describing what to find.

        The system analyzes your input to generate search queries, validators, and extractors. More specific queries produce more focused results.

      example: "Series B funding rounds for SaaS startups"

    Context:
      type: string
      description: |
        Additional context to focus on specific aspects of your query.
      example: "Focus on funding amount and company name"

    Limit:
      type: integer
      minimum: 10
      description: |
        Maximum number of records to return. If not specified, defaults to your plan limit.

        Use [`POST /catchAll/continue`](https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/continue-job) to extend the limit after job completion without reprocessing.
      example: 10

    StartDate:
      type: string
      format: date-time
      description: |
        Start date for web search (ISO 8601 format with UTC timezone).

        Defines the start of the search window by web page discovery date, not event date. Web pages discovered within this range may describe events from any time period.

        Must be within plan's allowed search depth. Default is 5 days before current date if not specified.
      example: "2026-01-30T00:00:00Z"

    EndDate:
      type: string
      format: date-time
      description: |
        End date for web search (ISO 8601 format with UTC timezone).

        Defines the end of the search window by web page discovery date, not event date. Web pages discovered within this range may describe events from any time period.

        Must be within plan's allowed search depth and after start_date. Default is current date if not specified.
      example: "2026-02-05T00:00:00Z"

    ValidatorSchema:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          description: Validator field name (snake_case recommended).
          example: "is_series_b_funding"
        description:
          type: string
          description: What this validator checks for in the web page.
          example: "true if the web page describes a Series B funding round"
        type:
          type: string
          enum: ["boolean"]
          default: "boolean"
          description: Validator type (currently only boolean supported).
      description: |
        Schema for a single validator that filters clusters of web pages.

        Validators are applied during the enriching stage to determine which clusters are relevant.

    EnrichmentType:
      type: string
      enum:
        - text
        - number
        - date
        - option
        - url
        - company
      description: |
        Canonical enrichment types supported by the system.

        - `text`: Free-form text strings (names, descriptions, summaries)
        - `number`: Numeric values (amounts, counts, percentages)
        - `date`: ISO format dates (YYYY-MM-DD)
        - `option`: Enum-like fixed values (status, category)
        - `url`: Web URLs
        - `company`: Structured company data. Returns `source_text`, `confidence`, and `metadata`. 

        See [Company enrichment](https://www.newscatcherapi.com/docs/web-search-api/api-reference/jobs/company-enrichment-dto) data model.

    EnrichmentSchema:
      type: object
      required:
        - name
        - description
        - type
      properties:
        name:
          type: string
          description: Enrichment field name (snake_case recommended).
          example: "investee_company"
        description:
          type: string
          description: What information this field extracts.
          example: "Extract the name of the SaaS startup receiving the funding"
        type:
          $ref: "#/components/schemas/EnrichmentType"
      description: |
        Schema for a single enrichment field that extracts structured data.

        Enrichments are applied during the enriching stage to extract information from validated clusters.

    CompanyEnrichmentOutput:
      type: object
      description: |
        Appears as the value of company-typed fields in the `enrichment` object of each record. The `metadata` sub-object is populated by the system based on the identified company.
      required:
        - source_text
        - confidence
        - metadata
      properties:
        source_text:
          type: string
[...]
